{% extends 'layout.html' %}


{% block content %}

    <div style="margin-top: 50px; text-align: center;">
        <a class="btn btn-success" href="/project/add/" style="width: 500px; font-size: 30px;">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create New Project Table
        </a>
        <br><br>
        <a class="btn btn-success" href="/part/add/" style="width: 500px; font-size: 30px;">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create New Part Table
        </a>
        <br><br>
        <a class="btn btn-success" href="/bushing/add/" style="width: 500px; font-size: 30px;">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create One Bushing Table
        </a>
        <br><br>
        <a class="btn btn-success" href="/bushing/add-multiple/" style="width: 500px; font-size: 30px;">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Mult Bushing Table
        </a>
    </div>

{% endblock %}

{% block js %}
    
{% endblock %}