{% extends 'layout.html' %}


{% block content %}

  
    
    <div  style="margin-bottom: 100px;">
    <h3>Fiber List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can read the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            <!-- Click the Download PDF button to download the displayed data(after filtering) as a pdf document.<br> -->
        </div>
    </details>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <!-- <a id="download" href="{% url 'download_projects_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a> -->
    </form>
    {% if fibers %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Material</th>
            <th>Manufacturer</th>
            <th>Distributor</th>
            <th>Grade</th>
            <th>Single filament diameter (mm)</th>
            <th>Tow</th>
            <th>Tow (in thousands)</th>
            <th>Tex (g/km)</th>
            <th>Density (g/cm3)</th>
            <th>Theoretical dry section (mm2)</th>
            <th>Tensile strength (MPa)</th>
            <th>Tensile modulus (GPa)</th>
            <th>Price euros/kg (2021 to febrary 2022)</th>
            <th>Price euros/kg (after 02/2022)</th>
            <th>Price euros/kg (after 02/2023)</th>
            <th>Price euros/kg (after 01/2024)</th>
        </tr>
        </thead>
        <tbody>
        {% for row in fibers %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.material|default_if_none:"" }}</td>
                <td>{{ row.manufacturer|default_if_none:"" }}</td>
                <td>{{ row.distributor|default_if_none:"" }}</td>
                <td>{{ row.grade|default_if_none:"" }}</td>
                <td>{{ row.singleFilamentDiameter|default_if_none:"" }}</td>
                <td>{{ row.tow|default_if_none:"" }}</td>
                <td>{{ row.towInThousands|default_if_none:"" }}</td>
                <td>{{ row.tex|default_if_none:"" }}</td>
                <td>{{ row.density|default_if_none:"" }}</td>
                <td>{{ row.theoreticalDrySection|default_if_none:"" }}</td>
                <td>{{ row.tensileStrength|default_if_none:"" }}</td>
                <td>{{ row.tensileModulus|default_if_none:"" }}</td>
                <td>{{ row.price21|default_if_none:"" }}</td>
                <td>{{ row.price22|default_if_none:"" }}</td>
                <td>{{ row.price23|default_if_none:"" }}</td>
                <td>{{ row.price24|default_if_none:"" }}</td>
              
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3 class="text-center">{{ message }}</h3>
    {% endif %}
    </div>


{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

    </script>
{% endblock %}

{% block css %}
<style>
    
    input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
 
   
</style>
{% endblock %}