{% extends 'layout.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Add Multiple Fibers</div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                {{ formset.management_form }}
                <table class="table table-bordered" id="fiber-table">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Manufacturer</th>
                            <th>Distributor</th>
                            <th>Grade</th>
                            <th>Single filament diameter (mm)</th>
                            <th>Tow</th>
                            <th>Tow (in thousands)</th>
                            <th>Tex (g/km)</th>
                            <th>Density (g/cm3)</th>
                            <th>Theoretical dry section (mm2)</th>
                            <th>Tensile strength (MPa)</th>
                            <th>Tensile modulus (GPa)</th>
                            <th>Price euros/kg (2021 to febrary 2022)</th>
                            <th>Price euros/kg (after 02/2022)</th>
                            <th>Price euros/kg (after 02/2023)</th>
                            <th>Price euros/kg (after 01/2024)</th>
                            <th style="width: 100px;">Operation</th>
                        </tr>
                    </thead>
                    <tbody contenteditable="true">
                        {% for field in formset %}
                        <tr class="fiber-form">
                           
                            <td contenteditable="true">{{ field.material }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.manufacturer }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.distributor }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.grade }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.singleFilamentDiameter }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tow }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.towInThousands }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tex }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.density }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.theoreticalDrySection }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tensileStrength }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tensileModulus }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price21 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price22 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price23 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price24 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                
                            <td class="text-center">{% if not forloop.first %}<button type="button" class="btn btn-danger remove-form">Remove</button>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-9 col-sm-12">
                            <button type="button" id="add-fiber" class="btn btn-secondary" style="width: 14%;">Add Fiber</button>
                            <button type="submit" class="btn btn-primary" style="width: 6%; margin-left: 3%;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        

        $('#add-fiber').click(function() {
            var formCount = $('#id_form-TOTAL_FORMS').val();
            var newForm = $('.fiber-form:first').clone(true).removeClass('fiber-form');
            newForm.find('input').each(function() {
                var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('');
            });
            newForm.find('td:last').html('<button type="button" class="btn btn-danger remove-form">Remove</button>');
            $('#fiber-table tbody').append(newForm);
            $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);
        });

        $(document).on('click', '.remove-form', function() {
            if ($('#fiber-table tbody tr').length > 1) {
                $(this).closest('tr').remove();
                var formCount = $('#id_form-TOTAL_FORMS').val();
                $('#id_form-TOTAL_FORMS').val(parseInt(formCount) - 1);
                // 重新调整所有表单行的索引
                $('#fiber-table tbody tr').each(function(index) {
                    $(this).find('input').each(function() {
                        var name = $(this).attr('name').replace(/-\d+-/, '-' + index + '-');
                        var id = 'id_' + name;
                        $(this).attr({'name': name, 'id': id});
                    });
                });
            }
        });

        // Handle paste event to populate table cells
        $('#fiber-table tbody').on('paste', 'td', function(e) {
            e.preventDefault();
            var text = (e.originalEvent || e).clipboardData.getData('text/plain');
            var rows = text.split('\n');
            var $currentRow = $(this).closest('tr');
            var startRowIndex = $currentRow.index();
            var startColIndex = $(this).index();

            rows.forEach(function(row, rowIndex) {
                if (row.trim() !== '') {
                    var cols = row.split('\t');
                    var $row = $('#fiber-table tbody tr').eq(startRowIndex + rowIndex);
                    if ($row.length === 0) {
                        $('#add-fiber').click();
                        $row = $('#fiber-table tbody tr').last();
                    }
                    cols.forEach(function(col, colIndex) {
                        var $cell = $row.find('td').eq(startColIndex + colIndex);
                        $cell.find('input').val(col.trim() || '');
                    });
                }
            });
        });
    });
</script>

{% endblock %}
{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #id_project, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}