{% extends 'layout.html' %}

{% block content %}
<div  style="margin-bottom: 100px;">
    <h3>Fiber List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can modify the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-remove">Delete</a> button to clear the corresponding row.<br>
            Click the <a id="help-btn-save">Save</a> button to save the new data to the database.<br>
        </div>
    </details>
    <form method="get" id="filterForm">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form> 
    {% if formset.total_form_count > 0 %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-bordered" id="fiber-table">
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Manufacturer</th>
                    <th>Distributor</th>
                    <th>Grade</th>
                    <th>Single filament diameter (mm)</th>
                    <th>Tow</th>
                    <th>Tow (in thousands)</th>
                    <th>Tex (g/km)</th>
                    <th>Density (g/cm3)</th>
                    <th>Theoretical dry section (mm2)</th>
                    <th>Tensile strength (MPa)</th>
                    <th>Tensile modulus (GPa)</th>
                    <th>Price euros/kg (2021 to febrary 2022)</th>
                    <th>Price euros/kg (after 02/2022)</th>
                    <th>Price euros/kg (after 02/2023)</th>
                    <th>Price euros/kg (after 01/2024)</th>
                    <th>Validation</th>
                    <th colspan="2">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr class="fiber-form">
                    {% for field in form %}
                    <td contenteditable="true">{{ field }}</td>
                    <span style="color: red;">{{ field.errors.0 }}</span>
                    {% endfor %}
                    <td class="text-center"><button type="button" class="btn btn-danger remove-form">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" id="btns">Save</button>
    </form>
    {% else %}
        <h3 class="text-center">{{ message }}</h3>
    {% endif %}
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Are you sure you want to delete it?</h4>
            <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
            <p>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelDeleteBtn">Cancel</button>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
   
    #btns {
        width: 100px;
        color: white;
        padding: 5px 10px;
        margin: 8px;
        margin-left: 90%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #id_project, #id_part, input[type="text"] , #id_valid{
        width: 100%;
        padding: 8px;
        margin: 0px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
    });

    let DELETE_ID = 0;

     
    function deleteAction(id) {
        DELETE_ID = id;
        $('#myModal').modal('show');
    }

     
    function confirmDelete() {
        $.ajax({
            url: "/fiber/delete/",
            type: "GET",
            data: { aid: DELETE_ID },
            dataType: "JSON",
            success: function(res) {
                if (res.status) {
                    location.reload();
                } else {
                    alert(res.error);
                }
            }
        });
    }

     
    function cancelDelete() {
        DELETE_ID = 0;
        $('#myModal').modal('hide');
    }

     
    $(document).on('click', '.remove-form', function() {
        let row = $(this).closest('tr');
        let fiberId = row.find('input[name$="-id"]').val();
        if (fiberId) {
            deleteAction(fiberId);
        } else {
            row.remove();
        }
    });

    $('#confirmDeleteBtn').click(function() {
        confirmDelete();
    });

    $('#cancelDeleteBtn').click(function() {
        cancelDelete();
    });
    
    // Handle paste event to populate table cells
    $('#fiber-table tbody').on('paste', 'td', function(e) {
        e.preventDefault();
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        var rows = text.split('\n');
        var $currentRow = $(this).closest('tr');
        var startRowIndex = $currentRow.index();
        var startColIndex = $(this).index();

        rows.forEach(function(row, rowIndex) {
            if (row.trim() !== '') {
                var cols = row.split('\t');
                var $row = $('#fiber-table tbody tr').eq(startRowIndex + rowIndex);
                if ($row.length === 0) {
                    $('#add-fiber').click();
                    $row = $('#fiber-table tbody tr').last();
                }
                cols.forEach(function(col, colIndex) {
                    var $cell = $row.find('td').eq(startColIndex + colIndex);
                    $cell.find('input').val(col.trim() || '');
                });
            }
        });
    });
});
</script>
{% endblock %}
