{% extends 'layout.html' %}

{% block content %}
<div class="panel panel-default"  style="margin-bottom: 100px;">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Add Multiple Fibers
        <details>
            <summary>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
                Help
              </span>
            </summary>        
            <div id="help-content">
                Here, we can enter the value of each attribute manually or by batch copying and pasting. <br>
                Click the <a id="help-btn-add">Add Fiber</a> button to add a row.<br>
                Click the <a id="help-btn-remove">Remove</a> button to clear the corresponding row.<br>
                Click the <a id="help-btn-save">Save</a> button to save the data to the database.<br>
                Here, we only limit the <a id="help-btn-download">Material</a> to required items, and other attributes can be left empty.
            </div>
        </details>
    </div>
        
    
    <div class="panel-body">
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                {{ formset.management_form }}
                <table class="table table-bordered" id="fiber-table">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Manufacturer</th>
                            <th>Distributor</th>
                            <th>Grade</th>
                            <th>Single filament diameter (mm)</th>
                            <th>Tow</th>
                            <th>Tow (in thousands)</th>
                            <th>Tex (g/km)</th>
                            <th>Density (g/cm3)</th>
                            <th>Theoretical dry section (mm2)</th>
                            <th>Tensile strength (MPa)</th>
                            <th>Tensile modulus (GPa)</th>
                            <th>Price euros/kg (2021 to febrary 2022)</th>
                            <th>Price euros/kg (after 02/2022)</th>
                            <th>Price euros/kg (after 02/2023)</th>
                            <th>Price euros/kg (after 01/2024)</th>
                            <th style="width: 100px;">Operation</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for field in formset %}
                        <tr class="fiber-form">
                           
                            <td contenteditable="true">{{ field.material }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.manufacturer }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.distributor }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.grade }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.singleFilamentDiameter }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tow }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.towInThousands }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tex }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.density }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.theoreticalDrySection }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tensileStrength }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tensileModulus }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price21 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price22 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price23 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.price24 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                
                            <td class="text-center"> <button type="button" class="btn btn-danger remove-form">Remove</button> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-9 col-sm-12">
                            <button type="button" id="add-fiber" class="btn btn-secondary" style="width: 14%;">Add Fiber</button>
                            <button type="submit" class="btn btn-primary" style="width: 6%; margin-left: 3%;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    

    $('#add-fiber').click(function() {
        var formCount = $('#id_form-TOTAL_FORMS').val();
        var newForm = $('.fiber-form:first').clone(true).removeClass('fiber-form');
        newForm.find('input').each(function() {
            var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('');
        });
        newForm.find('td:last').html('<button type="button" class="btn btn-danger remove-form">Remove</button>');
        $('#fiber-table tbody').append(newForm);
        $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);
    });

    $(document).on('click', '.remove-form', function() {
        var $row = $(this).closest('tr');
        if ($row.index() === 0) {
            // console.log("me")
            // console.log($row.index())
            // Clear the content of the first row
            $row.find('input').val('');
        } else {
            console.log($row.index())
            if ($('#fiber-table tbody tr').length > 1) {
                $row.remove();
                var formCount = $('#id_form-TOTAL_FORMS').val();
                $('#id_form-TOTAL_FORMS').val(parseInt(formCount) - 1);
                // Reindex all table rows
                $('#fiber-table tbody tr').each(function(index) {
                    $(this).find('input').each(function() {
                        var name = $(this).attr('name').replace(/-\d+-/, '-' + index + '-');
                        var id = 'id_' + name;
                        $(this).attr({'name': name, 'id': id});
                    });
                });
            }
        }
    });

    // Handle paste event to populate table cells
    $('#fiber-table tbody').on('paste', 'td', function(e) {
        e.preventDefault();
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        var rows = text.split('\n');
        var $currentRow = $(this).closest('tr');
        var startRowIndex = $currentRow.index();
        var startColIndex = $(this).index();

        rows.forEach(function(row, rowIndex) {
            if (row.trim() !== '') {
                var cols = row.split('\t');
                var $row = $('#fiber-table tbody tr').eq(startRowIndex + rowIndex);
                if ($row.length === 0) {
                    $('#add-fiber').click();
                    $row = $('#fiber-table tbody tr').last();
                }
                cols.forEach(function(col, colIndex) {
                    var $cell = $row.find('td').eq(startColIndex + colIndex);
                    $cell.find('input').val(col.trim() || '');
                });
            }
        });
    });
});
</script>

{% endblock %}
{% block css %}
<style>
    
    #id_project, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    
    
</style>
{% endblock %}