{% extends 'layout.html' %}

{% block content %}
<div style="margin-bottom: 100px;">
    <h3>Winding List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can modify the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-remove">Delete</a> button to clear the corresponding row.<br>
            Click the <a id="help-btn-save">Save</a> button to save the new data to the database.<br><br>
            Please select the correct Project and Part to filter out the data before modifying.<br><br>
            In order to avoid loading too much data when entering for the first time, relevant data will be loaded only after clicking <a id="help-btn-filter">Filter</a>. <br>
            If you want to load all the data in the database, click <a id="help-btn-filter">Filter</a> directly without entering or selecting any keywords in the filter.<br>
        </div>
    </details>
    <form method="get" id="filterForm">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>
    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
        <a id="loadingtext"> Loading </a>
    </div>
    <div id="tableContainer" >
        {% if formset.total_form_count > 0 %}
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-bordered" id="winding-table" id="normalTable">
                <thead>
                    <thead>
                        <tr>
                            <th style="width: 20%;">Link</th>
                            <th style="width: 20%;">Interface Start</th>
                            <th style="width: 20%;">Interface Transition</th>
                            <th style="width: 20%;">Interface End</th>
                            <!-- <th style="width: 10%;">Winding Type</th> -->
                            <th colspan="2" style="width: 100px;">Operation</th>
                        </tr>
                    </thead>
                </thead>
                <tbody>
                    {% for field in formset %}
                    <tr class="winding-form">
                                
                        <!-- <td><select id="id_link" name="link" class="form-control">
                            <option value=""> - - Please select one - -</option>
                        </select><span style="color: red;">{{ project_part_form.part.errors.0 }}</span>
                        </td> -->
                        <td contenteditable="true">{{ field.link }}
                            {% if field.interface1.value or field.interface2.value or field.interface3.value %}
                            {% if not field.link.value %}
                                <span style="color: red;">{{ linkError }}</span>
                            {% endif %}{% endif %}</td>
                        <!-- <td contenteditable="true">{{ field.link }}<span style="color: red;">{{ field.errors.0 }}</span></td> -->
                        <td contenteditable="true">{{ field.interface1 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                        <td contenteditable="true">{{ field.interface2 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                        <td contenteditable="true">{{ field.interface3 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                        <!-- <td><select id="id_interface1" name="interface" class="form-control">
                            <option value=""> - - Please select one - -</option>
                            
                        </select><span style="color: red;">{{ field.errors.0 }}</span>
                        </td>
                        <td><select id="id_interface2" name="interface" class="form-control">
                            <option value=""> - - Please select one - -</option>
                            
                        </select><span style="color: red;">{{ field.errors.0 }}</span>
                        </td>
                        <td><select id="id_interface3" name="interface" class="form-control">
                            <option value=""> - - Please select one - -</option>
                            
                        </select><span style="color: red;">{{ field.errors.0 }}</span>
                        </td> -->
                        <!-- <td>{{ field.sequence }}<span style="color: red;">{{ field.errors.0 }}</span></td> -->
                    
                        <td class="text-center"><button type="button" class="btn btn-danger remove-form">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" id="btns">Save</button>
        </form>
        
        {% else %}
            <h2>This table is empty.</h2>
        {% endif %}
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Are you sure you want to delete it?</h4>
            <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
            <p>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelDeleteBtn">Cancel</button>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
     
    #btns {
        width: 100px;
        background-color: #13bd13;
        color: white;
        padding: 5px 10px;
        margin: 8px;
        margin-left: 90%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #id_project, #id_part, input[type="text"] {
        width: 100%;
        padding: 8px;
        margin: 0px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    
    let DELETE_ID = 0;

    
    function deleteAction(id) {
        DELETE_ID = id;
        $('#myModal').modal('show');
    }

    
    function confirmDelete() {
        $.ajax({
            url: "/winding/delete/",
            type: "GET",
            data: { aid: DELETE_ID },
            dataType: "JSON",
            success: function(res) {
                if (res.status) {
                    location.reload();
                } else {
                    alert(res.error);
                }
            }
        });
    }

     
    function cancelDelete() {
        DELETE_ID = 0;
        $('#myModal').modal('hide');
    }

     
    $(document).on('click', '.remove-form', function() {
        let row = $(this).closest('tr');
        let windingId = row.find('input[name$="-id"]').val();
        if (windingId) {
            deleteAction(windingId);
        } else {
            row.remove();
        }
    });

    $('#confirmDeleteBtn').click(function() {
        confirmDelete();
    });

    $('#cancelDeleteBtn').click(function() {
        cancelDelete();
    });


    // Handle paste event to populate table cells
    $('#winding-table tbody').on('paste', 'td', function(e) {
        e.preventDefault();
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        var rows = text.split('\n');
        var $currentRow = $(this).closest('tr');
        var startRowIndex = $currentRow.index();
        var startColIndex = $(this).index();

        rows.forEach(function(row, rowIndex) {
            if (row.trim() !== '') {
                var cols = row.split('\t');
                var $row = $('#winding-table tbody tr').eq(startRowIndex + rowIndex);
                if ($row.length === 0) {
                    $('#add-winding').click();
                    $row = $('#winding-table tbody tr').last();
                }
                cols.forEach(function(col, colIndex) {
                    var $cell = $row.find('td').eq(startColIndex + colIndex);
                    $cell.find('input').val(col.trim() || '');
                });
            }
        });
    });

    document.getElementById("filterForm").addEventListener("submit", function() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("NoMessage").style.display = "none";
        document.getElementById('normalTable').style.display = 'none';
    });


    document.getElementById("resetButton").addEventListener("click", function() {
        window.location.href = window.location.pathname;
    });
});
</script>
{% endblock %}
