{% extends 'layout.html' %}

{% block content %}
<div class="panel panel-default" style="margin-bottom: 100px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Add Multiple Winding Links</div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-bottom: 25px;">
                        <label class="col-sm-1 control-label">Project</label>
                        <div class="col-sm-11" style="position: relative">
                            <select id="id_project" name="project" class="form-control">
                                <option value=""> - - - - Please select one - - - - </option>
                                {% for project in projects %}
                                    <option value="{{ project.id }}">{{ project.projectName }}</option>
                                {% endfor %}
                            </select>
                            <span style="color: red;">{{ project_part_form.project.errors.0 }}</span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 25px;">
                        <label class="col-sm-1 control-label">Part</label>
                        <div class="col-sm-11" style="position: relative">
                            <select id="id_part" name="part" class="form-control">
                                <option value=""> - - - - Please select one - - - - </option>
                                <!-- Options will be loaded dynamically -->
                            </select>
                            <span style="color: red;">{{ project_part_form.part.errors.0 }}</span>
                        </div>
                    </div>
                </div>
                {{ formset.management_form }}
                <table class="table table-bordered" id="winding-table">
                    <thead>
                        <tr>
                            <th>Link</th>
                            <th style="width: 20%;">Interface Start</th>
                            <th style="width: 20%;">Interface Transition</th>
                            <th style="width: 20%;">Interface End</th>
                            <!-- <th style="width: 10%;">Winding Type</th> -->
                            <th style="width: 100px;">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in formset %}
                        <tr class="winding-form">
                            
                            <!-- <td><select id="id_link" name="link" class="form-control">
                                <option value=""> - - Please select one - -</option>
                            </select><span style="color: red;">{{ project_part_form.part.errors.0 }}</span>
                            </td> -->
                            <td contenteditable="true">{{ field.link }}
                                {% if field.interface1.value or field.interface2.value or field.interface3.value %}
                                {% if not field.link.value %}
                                    <span style="color: red;">{{ linkError }}</span>
                                {% endif %}{% endif %}</td>
                            <!-- <td contenteditable="true">{{ field.link }}<span style="color: red;">{{ field.errors.0 }}</span></td> -->
                            <td contenteditable="true">{{ field.interface1 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.interface2 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.interface3 }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <!-- <td><select id="id_interface1" name="interface" class="form-control">
                                <option value=""> - - Please select one - -</option>
                                
                            </select><span style="color: red;">{{ field.errors.0 }}</span>
                            </td>
                            <td><select id="id_interface2" name="interface" class="form-control">
                                <option value=""> - - Please select one - -</option>
                                
                            </select><span style="color: red;">{{ field.errors.0 }}</span>
                            </td>
                            <td><select id="id_interface3" name="interface" class="form-control">
                                <option value=""> - - Please select one - -</option>
                                
                            </select><span style="color: red;">{{ field.errors.0 }}</span>
                            </td> -->
                            <!-- <td>{{ field.sequence }}<span style="color: red;">{{ field.errors.0 }}</span></td> -->
                           
                            <td class="text-center"> <button type="button" class="btn btn-danger remove-form">Remove</button> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-9 col-sm-12">
                            <button type="button" id="add-winding" class="btn btn-secondary" style="width: 14%;">Add Link</button>
                            <button type="submit" class="btn btn-primary" style="width: 6%; margin-left: 3%;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_project').change(function() {
            var projectId = $(this).val();
            loadParts(projectId);
        });

        $('#id_part').change(function() {
            var partId = $(this).val();
            loadInterfaces(partId);

            loadLinks(partId);

        });

        $('#add-winding').click(function() {
            var formCount = $('#id_form-TOTAL_FORMS').val();
            var newForm = $('.winding-form:first').clone(true).removeClass('winding-form');
            newForm.find('input').each(function() {
                var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('');
                // $(this).next('.select2-container').remove();  // Remove the Select2 container to reinitialize it
            });
            newForm.find('td:last').html('<button type="button" class="btn btn-danger remove-form">Remove</button>');
            $('#winding-table tbody').append(newForm);
            $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);

            // newForm.find('.select2').select2({
            //     placeholder: 'Select or type to search',
            //     allowClear: true,
            //     tags: true
            // });
        });

        $(document).on('click', '.remove-form', function() {
            var $row = $(this).closest('tr');
            if ($row.index() === 0) {
                // console.log("me")
                // console.log($row.index())
                // Clear the content of the first row
                $row.find('input').val('');
            } else {
                console.log($row.index())
                if ($('#winding-table tbody tr').length > 1) {
                    $row.remove();
                    var formCount = $('#id_form-TOTAL_FORMS').val();
                    $('#id_form-TOTAL_FORMS').val(parseInt(formCount) - 1);
                    // Reindex all table rows
                    $('#winding-table tbody tr').each(function(index) {
                        $(this).find('input').each(function() {
                            var name = $(this).attr('name').replace(/-\d+-/, '-' + index + '-');
                            var id = 'id_' + name;
                            $(this).attr({'name': name, 'id': id});
                        });
                    });
                }
            }
        });

        // Handle paste event to populate table cells
        $('#winding-table tbody').on('paste', 'td', function(e) {
            e.preventDefault();
            var text = (e.originalEvent || e).clipboardData.getData('text/plain');
            var rows = text.split('\n');
            var $currentRow = $(this).closest('tr');
            var startRowIndex = $currentRow.index();
            var startColIndex = $(this).index();

            rows.forEach(function(row, rowIndex) {
                if (row.trim() !== '') {
                    var cols = row.split('\t');
                    var $row = $('#winding-table tbody tr').eq(startRowIndex + rowIndex);
                    if ($row.length === 0) {
                        $('#add-winding').click();
                        $row = $('#winding-table tbody tr').last();
                    }
                    cols.forEach(function(col, colIndex) {
                        var $cell = $row.find('td').eq(startColIndex + colIndex);
                        $cell.find('input').val(col.trim() || '');
                    });
                }
            });
        });
    });
    function loadParts(projectId) {
        var url = '{% url "load_parts" %}';
        $.ajax({
            url: url,
            data: {
                'project_id': projectId
            },
            success: function(data) {
                $("#id_part").html('<option value=""> - - - - Please select one - - - - </option>');
                $.each(data, function(key, value) {
                    $("#id_part").append('<option value="' + value.id + '">' + value.partName + '</option>');
                });
            }
        });
    }

    function loadInterfaces(partId) {
        var url = '{% url "load_interfaces" %}';
        $.ajax({
            url: url,
            data: {
                'part_id': partId
            },
            success: function(data) {
                $("#id_interface1").html('<option value="">  - - Please select one - -  </option>');
                $.each(data, function(key, value) {
                    $("#id_interface1").append('<option value="' + value.id + '">' + value.interfaceName + '</option>');
                });
                $("#id_interface2").html('<option value="">  - - Please select one - -  </option>');
                $.each(data, function(key, value) {
                    $("#id_interface2").append('<option value="' + value.id + '">' + value.interfaceName + '</option>');
                });
                $("#id_interface3").html('<option value="">  - - Please select one - -  </option>');
                $.each(data, function(key, value) {
                    $("#id_interface3").append('<option value="' + value.id + '">' + value.interfaceName + '</option>');
                });
            }
        });
    }

    function loadLinks(partId) {
        var url = '{% url "load_links" %}';
        $.ajax({
            url: url,
            data: {
                'part_id': partId
            },
            success: function(data) {
                $("#id_link").html('<option value=""> - - Please select one - -  </option>');
                $.each(data, function(key, value) {
                    $("#id_link").append('<option value="' + value.id + '">' + value.linkName + '</option>');
                });
            }
        });
    }
</script>

{% endblock %}
{% block css %}
<style>
   
    #id_project, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}