#btnf1, .btnf2{
    width: 100px; 
    height: 30px;
    background-color: #49b7be; 
    color: white; 
    margin: 8px;
    margin-right: 0px;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    font-size: large;
}
#btnf1:hover, .btnf2:hover {
    background-color: #378488;
}
#btnmore {
    width: 500px; 
    background-color: #49b7be; 
    color: white; 
    padding: 5px 10px; 

    margin-left: 100px;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
}

#download {
    width: 200px; 
    height: 30px;
    background-color: #6ebe49; 
    color: white; 
    padding: 5px 10px; 
    margin: 8px;
    margin-right: 0px;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    font-size: large;
}
#download:hover {
    background-color: #4d8134; 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #4CAF50;
    color: white;
}
details {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    background: #F6FAFF;
    border-radius: 0.5rem;
    border: 1px solid #C3DEFF;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

details:hover {
    border: 1px solid #A4A1FF;
}
summary {
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    list-style: none;
    padding: 1rem;
}

summary:hover .help-title {
    opacity: 1;
}

summary::-webkit-details-marker {
    display: none;
}

summary:focus {
    outline: none;
}

#help-title {
    color: #0026ff;
    opacity: 0.65;
    transition: all 250ms ease-in-out;
}

#help-content {
    color: #303651;
    padding: 0.2rem 1rem 1rem 1rem;
    line-height: 1.5;
}

#help-btn-add {
    color: rgb(163, 163, 163);
}
#help-btn-remove {
    color: rgb(255, 0, 0);
}
#help-btn-filter {
    color: rgb(125, 202, 233);
}
#help-btn-save {
    color: rgb(110, 147, 216);
}
#help-btn-edit {
    color: rgb(0, 81, 255);
}
#help-btn-upload {
    color: #2f7a30;
}
#help-btn-file {
    color: rgb(114, 114, 114);
}
#help-btn-download{
    color: #6ebe49;
}

