{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="password-change-box">
    <a style="margin-left: 70px;">
        <img src="{% static 'images/logo_gradel.png' %}" alt="Gradel Logo" width="200" height="100">
    </a>
    <h2>Change Password</h2>
    
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            {{ form.old_password }}
            <span style="color: red;">{{ form.old_password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            <span style="color: red;">{{ form.new_password1.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            <span style="color: red;">{{ form.new_password2.errors.0 }}</span>
        </div>

        <button type="submit" class="btn btn-primary" style="width: 165px;">Submit</button>
        <!-- <span style="color: red;">{{ error }}</span> -->
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
<style>
    .password-change-box {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #dddddd;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .password-change-box h2 {
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .btn {
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock %}
