{% extends 'layout.html' %}


{% block content %}
<h3>Your Department: {{ user.depart.title }}</h2>
<div id="wholePage">
    <div id="part" style="background-color: rgb(247, 247, 111);">
        <a class="btn btn-success" href="/fiber/valid/" id="btn"  data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Fiber List
        </a>
        <a class="btn btn-success" href="/fiber/list/" id="btn" data-department="Material,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Fiber List
        </a>
        <a class="btn btn-success" href="/resin/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Resin List
        </a>
        <a class="btn btn-success" href="/resin/list/" id="btn" data-department="Material,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Resin List
        </a>
        <a class="btn btn-success" href="/r_and_d/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read R&D List
        </a>
        <a class="btn btn-success" href="/r_and_d/list/" id="btn" data-department="Material,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check R&D List
        </a>
    </div>
    <div id="part" style="background-color: lightblue;">
        <a class="btn btn-success" href="/project/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Project List
        </a>
        <a class="btn btn-success" href="/project/list/" id="btn" data-department="Engineering,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Project List
        </a>
        <a class="btn btn-success" href="/part/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Part List
        </a> 
        <a class="btn btn-success" href="/part/list/" id="btn" data-department="Engineering,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Part List
        </a>   
        <a class="btn btn-success" href="/bushing/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Bushing List
        </a>
        <a class="btn btn-success" href="/bushing/list/" id="btn" data-department="Engineering,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Bushing List
        </a>
        <a class="btn btn-success" href="/interface/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Interface List
        </a>
        <a class="btn btn-success" href="/interface/list/" id="btn" data-department="Engineering,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Interface List
        </a>
        <a class="btn btn-success" href="/link/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Link List
        </a>
        <a class="btn btn-success" href="/link/list/" id="btn" data-department="Engineering,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Link List
        </a>
        <a class="btn btn-success" href="/sequenceType/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Sequence Types
        </a>
        <a class="btn btn-success" href="/sequenceType/list/" id="btn" data-department="Engineering,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Sequence Types
        </a>
    </div>

    <div id="part" style="background-color: lightgreen;">
        <a class="btn btn-success" href="/part/valid-doc/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Part Documents
        </a>
        <a class="btn btn-success" href="/part/list-doc/" id="btn" data-department="Robotics,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Part Documents
        </a>
        <a class="btn btn-success" href="/winding/valid/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Winding List
        </a>
        <a class="btn btn-success" href="/winding/list/" id="btn" data-department="Robotics,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Winding List
        </a>
        <a class="btn btn-success" href="/updateDoc/" id="btn" data-department="Robotics,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Update Documentation
        </a>
    </div>

    <div id="part" style="background-color: rgb(241, 113, 177);">
        <a class="btn btn-success" href="/user/list-read/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read User List
        </a>
        <a class="btn btn-success" href="/user/list/" id="btn" data-department="Manager,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check User List
        </a>
        <a class="btn btn-success" href="/department/list-read/" id="btn" data-department="all">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Department List
        </a>
        <a class="btn btn-success" href="/department/list/" id="btn" data-department="Manager,Admin">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Department List
        </a>
    </div>

</div>



{% endblock %}

{% block js %}
<script>
    // Simulating the user.depart.title value
    const userDepartTitle = '{{ user.depart.title }}';

    // Function to toggle link display based on userDepartTitle
    function toggleLinkDisplay() {
        const links = document.querySelectorAll('a[data-department]');

        links.forEach(link => {
            const departments = link.getAttribute('data-department').split(',');
            if (departments.includes(userDepartTitle) || departments.includes('all')) {
                link.style.display = 'block';
            } else {
                link.style.display = 'none';
            }
        });
    }

    // Call the function to set the initial state
    toggleLinkDisplay();
</script>
{% endblock %}

{% block css %}
<style>
    #wholePage {
        margin-bottom: 100px;
    }
    #pic{
        padding: 5px;
    }
    #btn{
        margin: 10px;
        width: 95%; 
        font-size: 25px; 
        text-align: left;
        padding-left: 20px;
    }
    #btnl{
        margin: 10px;
        width: 920px; 
        font-size: 30px; 
        text-align: left;
        padding-left: 20px;
    }
    h3{
        margin-left: 10%;
    }
    #backBtn {
        display: none;
    }
   
    #wholePage {
        display: flex;
        flex: 1;
    }
    #part {
        width: 25%;
        border: 5px solid rgb(255, 255, 255);
    }
</style>
{% endblock %}