{% extends 'layout.html' %}


{% block content %}

    <div style="margin-top: 50px; margin-bottom: 100px; text-align: center;">
        <a class="btn btn-success" href="/fiber/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Fiber List
        </a>
        <br><br>
        <a class="btn btn-success" href="/resin/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Resin List
        </a>
        <br><br>
        <a class="btn btn-success" href="/project/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Project List
        </a>
        <br><br>
        <a class="btn btn-success" href="/part/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Part List
        </a>    
        <br><br>
        <a class="btn btn-success" href="/bushing/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Bushing List
        </a>
        <br><br>
        <a class="btn btn-success" href="/bushing/modify-multiple/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Modify Bushing List
        </a>
        <br><br>
        <a class="btn btn-success" href="/interface/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Interface List
        </a>
        <br><br>
        <a class="btn btn-success" href="/interface/modify-multiple/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Modify Interface List
        </a>
        <br><br>
        <a class="btn btn-success" href="/link/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Link List
        </a>
        <br><br>
        <a class="btn btn-success" href="/user/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check User List
        </a>
        <br><br>
        <a class="btn btn-success" href="/department/list/" id="btn">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Department List
        </a>
    </div>

{% endblock %}

{% block js %}
    
{% endblock %}

{% block css %}
<style>
    #pic{
        padding: 5px;
    }
    #btn{
        width: 500px; 
        font-size: 30px; 
        text-align: left;
        padding-left: 20px;
    }
</style>
{% endblock %}