{% extends 'layout.html' %}

{% block content %}
<div id="cont">
    <h3>Welcome to the Database of Gradel Light Weight, {{ request.info_dict.name }}.</h3>
    <h4>Log Messages:<a>( Will be implemented later)</a></h4>
    <div id="log">
        Log 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 
        <br>
        Log 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
        <br>
        Log 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
        <br>
        Log 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
        <br>
        Log 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
        <br>
        and so on.
    </div>
</div>
{% endblock %}

{% block css %}
 <style>
    #cont {
        width: 60%;
        margin: auto;
    }
    #log {
        font-size: large;
        margin-left: 10%;
    }
    #backBtn {
           display: none;
    }
</style>
{% endblock %}