{% extends 'layout.html' %}

{% block content %}
<div id="cont">
    <h4>Log Messages:</h4>
    <form method="get" id="filterForm">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>
    <div id="log">
       
        <table class="table table-bordered" id="normalTable">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Action</th>
                    <th>Table</th>
                    <th>Object ID</th>
                    <th>Changes (Field: 'old value' -> 'new value')</th>
                </tr>
            </thead>
            <tbody>
                {% for log in page_obj %}
                <tr>
                    <td>{{ log.timestamp|date:"m/d/Y H:i:s" }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.model }}</td>
                    <td>{{ log.object_id }}</td>
                    <td class="log-entry">{{ log.changes|linebreaksbr }}</td>
               
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No logs found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page=1{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">&laquo; first</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">previous</a></li>
                {% else %}
                    <li class="disabled"><a>&laquo; first</a></li>
                    <li class="disabled"><a>previous</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="active"><a>{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                        <li><a href="?page={{ num }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">next</a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">last &raquo;</a></li>
                {% else %}
                    <li class="disabled"><a>next</a></li>
                    <li class="disabled"><a>last &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
 <style>
    h2 {
        margin-left: 20%;
        margin-bottom: 50px;
    }
    #cont {
        width: 90%;
        margin: auto;
        margin-bottom: 100px;
    }
    #log {
        font-size: large;
    }
    #backBtn {
           display: none;
    }
   
    #normalTable {
        border: solid 2px black;
    }
    .log-entry {
        white-space: pre-wrap;
    }
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .pagination li {
        margin: 0 5px;
    }
    .pagination a {
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #007bff;
    }
    .pagination a:hover {
        background-color: #f1f1f1;
    }
    .pagination .active a {
        background-color: #007bff;
        color: white;
        border: 1px solid #007bff;
    }
    .pagination .disabled a {
        color: #ccc;
    }
    #id_action, #id_model, #id_object_id, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin-top: 10px; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #id_timestamp, input[type="text"]{
        width: 40%;
        padding: 8px; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}