{% extends 'layout.html' %}


{% block content %}

    <div style="margin-top: 50px; margin-bottom: 100px; text-align: center;">
        <a class="btn btn-success" href="/fiber/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Fiber
        </a>
        <a class="btn btn-success" href="/resin/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Resin
        </a>
        <br><br>
        <a class="btn btn-success" href="/resin/add-mechanical_properties/" id="btnl">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Add Mechanical Properties for Resin
        </a>
        <br><br>
        <a class="btn btn-success" href="/resin/add-thermophysical_toughness_properties/" id="btnl">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Add Thermophysical and Toughness Properties for Resin
        </a>
        <br><br>
        <a class="btn btn-success" href="/r_and_d/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New R&D
        </a>
        <br><br>
        <a class="btn btn-success" href="/project/add/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Project Table
        </a>
        <a class="btn btn-success" href="/part/add/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Part Table
        </a>
        <br><br>
        <a class="btn btn-success" href="/bushing/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Bushing Table
        </a>
        <a class="btn btn-success" href="/interface/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Interface Table
        </a>
        <br><br>
        <a class="btn btn-success" href="/link/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Link Table
        </a>
        <a class="btn btn-success" href="/winding/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Winding Table
        </a>
        <br><br>
        <a class="btn btn-success" href="/sequenceType/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Sequence Type
        </a>
        <br><br>
        <a class="btn btn-success" href="/user/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New User
        </a>
        <a class="btn btn-success" href="/department/add-multiple/" id="btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Department
        </a>
    </div>

{% endblock %}

{% block js %}
    
{% endblock %}

{% block css %}
<style>
    #pic{
        padding: 5px;
    }
    #btn{
        width: 450px; 
        font-size: 30px; 
        text-align: left;
        padding-left: 20px;
    }
    #btnl{
        width: 920px; 
        font-size: 30px; 
        text-align: left;
        padding-left: 20px;
    }
</style>
{% endblock %}