{% extends 'layout.html' %}


{% block content %}
    <h3>Your Department: {{ user.depart.title }}</h3>
    <div id="wholePage">
        <div id="part" style="background-color: rgb(247, 247, 111);">
            <a class="btn btn-success" href="/fiber/add-multiple/" id="btn"  data-department="Material,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Fiber
            </a>
            <a class="btn btn-success" href="/resin/add-multiple/" id="btn"  data-department="Material,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Resin
            </a>
            <a class="btn btn-success" href="/resin/add-mechanical-properties/" id="btnl" data-department="Material,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Add Mechanical Properties for Resin
            </a>
            <a class="btn btn-success" href="/resin/add-thermophysical-toughness-properties/" id="btnl" data-department="Material,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Add Thermophysical and Toughness Properties for Resin
            </a>
            <a class="btn btn-success" href="/r_and_d/add-multiple/" id="btn" data-department="Material,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New R&D
            </a>
        </div>
        <div id="part" style="background-color: lightblue;">
            <a class="btn btn-success" href="/project/add/" id="btn" data-department="Engineering,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Project Table
            </a>
            <a class="btn btn-success" href="/part/add/" id="btn" data-department="Engineering,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Part Table
            </a>
            <a class="btn btn-success" href="/bushing/add-multiple/" id="btn" data-department="Engineering,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Bushing Table
            </a>
            <a class="btn btn-success" href="/interface/add-multiple/" id="btn" data-department="Engineering,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Interface Table
            </a>
            <a class="btn btn-success" href="/link/add-multiple/" id="btn" data-department="Engineering,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Link Table
            </a>
            <a class="btn btn-success" href="/sequenceType/add-multiple/" id="btn" data-department="Engineering,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Sequence Type
            </a>
        </div>

        <div id="part" style="background-color: lightgreen;">
            <a class="btn btn-success" href="/winding/add-multiple/" id="btn" data-department="Robotics,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Winding Table
            </a>
        </div>

        <div id="part" style="background-color: rgb(241, 113, 177);">
            <a class="btn btn-success" href="/user/add-multiple/" id="btn" data-department="Manager,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New User
            </a>
            <a class="btn btn-success" href="/department/add-multiple/" id="btn" data-department="Manager,Admin">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="pic"></span> Create New Department
            </a>
        </div>
    
    </div>
{% endblock %}

{% block js %}
<script>
    // Simulating the user.depart.title value
    const userDepartTitle = '{{ user.depart.title }}';

    // Function to toggle link display based on userDepartTitle
    function toggleLinkDisplay() {
        const links = document.querySelectorAll('a[data-department]');

        links.forEach(link => {
            const departments = link.getAttribute('data-department').split(',');
            if (departments.includes(userDepartTitle) || departments.includes('all')) {
                link.style.display = 'block';
            } else {
                link.style.display = 'none';
            }
        });
    }

    // Call the function to set the initial state
    toggleLinkDisplay();
</script>
{% endblock %}

{% block css %}
<style>
    #pic{
        padding: 5px;
    }
    #btn{
        margin: 10px;
        width: 98%; 
        font-size: 30px; 
        text-align: left;
        padding-left: 20px;
    }
    #btnl{
        margin: 10px;
        width: 98%; 
        font-size: 30px; 
        text-align: left;
        padding-left: 20px;
    }
    h3{
        margin-left: 10%;
    }
    #backBtn {
           display: none;
    }

    #wholePage {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 100px;
        text-align: center;
    }

    #part {
        border: 5px solid rgb(255, 255, 255);
        text-align: center;
    }
</style>
{% endblock %}