{% extends 'layout.html' %}


{% block content %}

    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/r_and_d/add-multiple/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New R&D
        </a>
    </div>
    
    <div>
        <h3>R&D List:</h3>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
        </form>
    <table class="table table-bordered">
        
        {% for field in filter.qs %}
        <tr>
            <tr><th colspan="2" style="background-color: #4CAF50;">Program :</th><td colspan="2"  contenteditable="true">{{ field.program }}</td></tr>
            <tr><th colspan="2" style="background-color: #4CAF50;">Project Nr. :</th><td colspan="2"  contenteditable="true">{{ field.projectNr }}</td></tr>

            <tr><th colspan="2" style="background-color: #4CAF50;">ERMDS Nr. :</th><td colspan="2"  contenteditable="true">{{ field.ERMDS }}</td></tr>
            <tr><th colspan="2" style="background-color: #4CAF50;">Last update :</th><td colspan="2"  contenteditable="true">{{ field.lastUpdate }}</td></tr>
            <tr><th colspan="2" style="background-color: #4CAF50;">Verified by :</th><td colspan="2"  contenteditable="true">{{ field.verifiedBy }}</td></tr>
            <tr><th colspan="2" style="background-color: #4CAF50;">Approved by :</th><td colspan="2"  contenteditable="true">{{ field.approvedBy }}</td></tr>
    
            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Materials references</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">Fiber</th><td>{{ field.fiber }}</td><td>{{ field.fiberC }}</td></tr>
            <tr><th colspan="2">Number of bobbins</th><td  contenteditable="true">{{ field.numberOfBobbins }}</td><td  contenteditable="true">{{ field.numberOfBobbinsC }}</td></tr>
            <tr><th colspan="2">Resin</th><td>{{ field.resin.resin }}</td><td>{{ field.resinC }}</td></tr>
            <tr><th colspan="2">Hardener</th><td>{{ field.resin.hardener }}</td><td>{{ field.hardenerC }}</td></tr>
            <tr><th colspan="2">Curing cycle (+ ramp) (°C) :</th><td>{{ field.resin.curingCycle }}</td><td>{{ field.curingCycleC }}</td></tr>
            

            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Materials individual properties</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">Fibre tow :</th><td>{{ field.fiber.towInThousands }}</td><td>{{ field.towC }}</td></tr>
            <tr><th colspan="2">Fibre tex (g/1000m) :</th><td>{{ field.fiber.tex }}</td><td>{{ field.texC }}</td></tr>
            <tr><th colspan="2">Fibre density (g/cm3) :</th><td>{{ field.fiber.density }}</td><td>{{ field.fiberDensityC }}</td></tr>
            <tr><th colspan="2">Matrix density (g/cm3) :</th><td>{{ field.resin.densityR }}</td><td>{{ field.resinDensityC }}</td></tr>


            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Tools / Parts references</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">End-effector N°</th><td  contenteditable="true">{{ field.endEffector }}</td><td  contenteditable="true">{{ field.endEffectorC }}</td></tr>
            <tr><th colspan="2">Impregnation bath</th><td  contenteditable="true">{{ field.impregnationBath }}</td><td  contenteditable="true"> {{ field.impregnationBathC }}</td></tr>
            <tr><th colspan="2">Entry nozzle diameter (mm)</th><td  contenteditable="true">{{ field.entryNozzleDiam }}</td><td  contenteditable="true">{{ field.entryNozzleDiamC }}</td></tr>
            <tr><th colspan="2">Exit nozzle diameter (mm)</th><td  contenteditable="true">{{ field.exitNozzleDiam }}</td><td  contenteditable="true">{{ field.exitNozzleDiamC }}</td></tr>

            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Winding environment</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">Room temperature (°C)</th><td  contenteditable="true">{{ field.roomTemperature }}</td><td  contenteditable="true">{{ field.roomTemperatureC }}</td></tr>
            <tr><th colspan="2">Room humidity (%)</th><td  contenteditable="true">{{ field.roomhumidity }}</td><td  contenteditable="true">{{ field.roomhumidityC }}</td></tr>

            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Process parameters references</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">Brake force/bobbin (N) (kg) (bar)</th><td  contenteditable="true">{{ field.brakeForcebobin }}</td><td  contenteditable="true">{{ field.brakeForcebobinC }}</td></tr>
            <tr><th colspan="2">Windng speed range (mm/s)</th><td  contenteditable="true">{{ field.windingSpeedRange }}</td><td  contenteditable="true">{{ field.windingSpeedRangeC }}</td></tr>

            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Material physical properties / Testing conditions :</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">FVR (%)</th><td  contenteditable="true">{{ field.FVR }}</td><td contenteditable="true">{{ field.FVRC }}</td></tr>
            <tr><th colspan="2">Composite density ρ (g/cm3)</th><td  contenteditable="true">{{ field.compositeDensity }}</td><td contenteditable="true">{{ field.compositeDensityC }}</td></tr>
            <tr><th colspan="2">Porosity (%)</th><td  contenteditable="true">{{ field.porosity }}</td><td contenteditable="true">{{ field.porosityC }}</td></tr>
            <tr><th colspan="2">Theoretical sample section (mm²)</th><td contenteditable="true">{{ field.theoreticalSampleSection }}</td><td contenteditable="true">{{ field.theoreticalSampleSectionC }}</td></tr>
            <tr><th colspan="2">Experimental sample section (mm²)</th><td contenteditable="true">{{ field.experimentalSampleSection }}</td><td contenteditable="true">{{ field.experimentalSampleSectionC }}</td></tr>
            <tr><th colspan="2">Aged / Non-aged</th><td contenteditable="true">{{ field.aged }}</td><td contenteditable="true">{{ field.agedC }}</td></tr>
            <tr><th colspan="2">Temperature of the tests</th><td contenteditable="true">{{ field.temperatureOfTests }}</td><td contenteditable="true">{{ field.temperatureOfTestsC }}</td></tr>

            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Samples confiuguration</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">Number of samples</th><td contenteditable="true">{{ field.numberOfSamples }}</td><td contenteditable="true">{{ field.numberOfSamplesC }}</td></tr>
            <tr><th colspan="2">Configuration</th><td contenteditable="true">{{ field.configurarion }}</td><td contenteditable="true">{{ field.configurarionC }}</td></tr>
            <tr><th colspan="2">Sample length</th><td contenteditable="true">{{ field.sampleLength }}</td><td contenteditable="true">{{ field.sampleLengthC }}</td></tr>
            <tr><th colspan="2">Number of cycles</th><td contenteditable="true">{{ field.numberOfCycles }}</td><td contenteditable="true">{{ field.numberOfCyclesC }}</td></tr>
            <tr><th colspan="2">Sleeve diameter / height (mm)</th><td contenteditable="true">{{ field.sleeve }}</td><td contenteditable="true">{{ field.sleeveC }}</td></tr>

            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Material thermal properties</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <tr><th colspan="2">Thermal expansion coefficient A (/K)</th><td contenteditable="true">{{ field.thermalExpansionCoefficient }}</td><td contenteditable="true">{{ field.thermalExpansionCoefficientC }}</td></tr>
            <tr><th colspan="2">Thermal conductivity K (W/(m.K))</th><td contenteditable="true">{{ field.thermalConductivity }}</td><td contenteditable="true">{{ field.thermalConductivityC }}</td></tr>

            <tr style="background-color: #4CAF50;"><th colspan="2" style="background-color: #4CAF50; font-size: large; color: #000;">Material mechanical properties</th><td id="vc">Value</td><td id="vc">Comments</td></tr>
            <th rowspan="10">Tensile</th>
            <tr><th>Tensile Young's modulus - Average (MPa)</th><td contenteditable="true">{{ field.tensileYoungModulus }}</td><td contenteditable="true">{{ field.tensileYoungModulusC }}</td></tr>
            <tr><th>Tensile Ultimate Stress - Average (MPa)</th><td contenteditable="true">{{ field.tensileUltimateStress }}</td><td contenteditable="true">{{ field.tensileUltimateStressC }}</td></tr>
            <tr><th>Tensile Ultimate Stress - Min A (MPa)</th><td contenteditable="true">{{ field.tensileUltimateStressMA }}</td><td contenteditable="true">{{ field.tensileUltimateStressMAC }}</td></tr>
            <tr><th>Tensile Ultimate Stress - Min B (MPa)</th><td contenteditable="true">{{ field.tensileUltimateStressMB }}</td><td contenteditable="true">{{ field.tensileUltimateStressMBC }}</td></tr>
            <tr><th>Tensile Ultimate Load - Average (kN)</th><td contenteditable="true">{{ field.tensileUltimateLoad }}</td><td contenteditable="true">{{ field.tensileUltimateLoadC }}</td></tr>
            <tr><th>Tensile Yield Stress - Average (MPa)</th><td contenteditable="true">{{ field.tensileYieldStress }}</td><td contenteditable="true">{{ field.tensileYieldStressC }}</td></tr>
            <tr><th>Tensile Yield Stress - Min A (MPa)</th><td contenteditable="true">{{ field.tensileYieldStressMA }}</td><td contenteditable="true">{{ field.tensileYieldStressMAC }}</td></tr>
            <tr><th>Tensile Yield Stress - Min B (MPa)</th><td contenteditable="true">{{ field.tensileYieldStressMB }}</td><td contenteditable="true">{{ field.tensileYieldStressMBC }}</td></tr>
            <tr><th>Tensile Yield Load - Average (kN)</th><td contenteditable="true">{{ field.tensileYieldLoad }}</td><td contenteditable="true">{{ field.tensileYieldLoadC }}</td></tr>

            
            <th rowspan="11">Compression</th>
            <tr><th>Compression Young's modulus - Average (MPa)</th><td contenteditable="true">{{ field.compressionYoungModulus }}</td><td contenteditable="true">{{ field.compressionYoungModulusC }}</td></tr>
            <tr><th>Compression Ultimate Stress - Average (MPa)</th><td contenteditable="true">{{ field.compressionUltimateStress }}</td><td contenteditable="true">{{ field.compressionUltimateStressC }}</td></tr>
            <tr><th>Compression Ultimate Stress - Min A (MPa)</th><td contenteditable="true">{{ field.compressionUltimateStressMA }}</td><td contenteditable="true">{{ field.compressionUltimateStressMAC }}</td></tr>
            <tr><th>Compression Ultimate Stress - Min B (MPa)</th><td contenteditable="true">{{ field.compressionUltimateStressMB }}</td><td contenteditable="true">{{ field.compressionUltimateStressMBC}}</td></tr>
            <tr><th>Compression Ultimate Load - Average (kN)</th><td contenteditable="true">{{ field.compressionUltimateLoad }}</td><td contenteditable="true">{{ field.compressionUltimateLoadC }}</td></tr>
            <tr><th>Compression Yield Stress- Average (MPa)</th><td contenteditable="true">{{ field.compressionYieldStress }}</td><td contenteditable="true">{{ field.compressionYieldStressC }}</td></tr>
            <tr><th>Compression Yield Stress - Min A (MPa)</th><td contenteditable="true">{{ field.compressionYieldStressMA }}</td><td contenteditable="true">{{ field.compressionYieldStressMAC }}</td></tr>
            <tr><th>Compression Yield Stress - Min B (MPa)</th><td contenteditable="true">{{ field.compressionYieldStressMB }}</td><td contenteditable="true">{{ field.compressionYieldStressMBC }}</td></tr>
            <tr><th>Compression Yield Load - Average (kN)</th><td contenteditable="true">{{ field.compressionYieldLoad }}</td><td contenteditable="true">{{ field.compressionYieldLoadC }}</td></tr>
            <tr><th>Poisson's ratio ν (-)</th><td contenteditable="true">{{ field.poissonRatio }}</td><td contenteditable="true">{{ field.poissonRatioC }}</td></tr>

            <th rowspan="6">ILSS</th>
            <tr><th>Flexural modulus - Average (MPa)</th><td contenteditable="true">{{ field.flexuralModulusILSS }}</td><td contenteditable="true">{{ field.flexuralModulusILSSC }}</td></tr>
            <tr><th>Ultimate Shear Force - Average (kN)</th><td contenteditable="true">{{ field.ultimateShearForce }}</td><td contenteditable="true">{{ field.ultimateShearForceC }}</td></tr>
            <tr><th>Ultimate Shear Stress - Average (MPa)</th><td contenteditable="true">{{ field.ultimateShearStress }}</td><td contenteditable="true">{{ field.ultimateShearStressC }}</td></tr>
            <tr><th>Ultimate Shear Stress - Min A (MPa)</th><td contenteditable="true">{{ field.ultimateShearStressMA }}</td><td contenteditable="true">{{ field.ultimateShearStressMAC }}</td></tr>
            <tr><th>Ultimate Shear Stress - Min B (MPa)</th><td contenteditable="true">{{ field.ultimateShearStressMB }}</td><td contenteditable="true">{{ field.ultimateShearStressMBC }}</td></tr>

            <th rowspan="7">Flexural</th>
            <tr><th>Flexural modulus - Average (MPa)</th><td contenteditable="true">{{ field.flexuralModulusF }}</td><td contenteditable="true">{{ field.flexuralModulusFC }}</td></tr>
            <tr><th>Flexural Ultimate strength - Average (MPa)</th><td contenteditable="true">{{ field.flexuralUltimateStrength }}</td><td contenteditable="true">{{ field.flexuralUltimateStrengthC }}</td></tr>
            <tr><th>Flexural Ultimate strength - Min A (MPa)</th><td contenteditable="true">{{ field.flexuralUltimateStrengthMA }}</td><td contenteditable="true">{{ field.flexuralUltimateStrengthMAC }}</td></tr>
            <tr><th>Flexural Ultimate strength - Min B (MPa)</th><td contenteditable="true">{{ field.flexuralUltimateStrengthMB }}</td><td contenteditable="true">{{ field.flexuralUltimateStrengthMBC }}</td></tr>
            <tr><th>Strain at ultimate strength (%)</th><td contenteditable="true">{{ field.strainUltimateStrength }}</td><td contenteditable="true">{{ field.strainUltimateStrengthC }}</td></tr>
            <tr><th>Flexural Ultimate Force (N)</th><td contenteditable="true">{{ field.flexuralUltimateForce }}</td><td contenteditable="true">{{ field.flexuralUltimateForceC }}</td></tr>

            <th rowspan="5" style="width: 10%;">Torsion</th>
            <tr><th style="width: 20%;">Yield Torque (Nm)</th><td style="width: 35%;" contenteditable="true">{{ field.yieldTorque }}</td><td style="width: 35%;" contenteditable="true">{{ field.yieldTorqueC }}</td></tr>
            <tr><th>Maxi Torque (Nm)</th><td contenteditable="true">{{ field.maxiTorque }}</td><td contenteditable="true">{{ field.maxiTorqueC }}</td></tr>
            <tr><th>Yield angle (°)</th><td contenteditable="true">{{ field.yieldAngle }}</td><td contenteditable="true">{{ field.yieldAngleC }}</td></tr>
            <tr><th>Maxi Twisted Angle (°)</th><td contenteditable="true">{{ field.maxiTwistedAngle }}</td><td contenteditable="true">{{ field.maxiTwistedAngleC }}</td></tr>
        
            <tr>
                <td colspan="10">
                    <a class="btn btn-primary btn-xs" href="/r_and_d/edit/{{ field.id }}/" style="width: 10%;  height: 30px; font-size: large;"> Edit </a>
                    
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 10%; height: 30px; font-size: large;"
                        onclick="deleteAction({{ field.id }});"/>
                </td>
            </tr>
        
        </tr>
        
            
        {% endfor %}
        
        
    </table></div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /r_and_d/delete/?aid=12
            $.ajax({
                url: "/r_and_d/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
    </script>
{% endblock %}

{% block css %}
<style>
   
    #filterForm, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #id_fiber, #id_resin, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #vc {
        font-size: large; 
        color: #000;
        text-align: center;
    }
 
   
</style>
{% endblock %}