{% extends 'layout.html' %}


{% block content %}

    
    
    <div id="cont">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/user/add_multiple/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New User
            </a>
        </div>  
    <h3>User List:</h3>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <!-- <th>Project ID</th> -->
            <th style="width: 50%;">User Name</th>
            <th style="width: 30%;">Department</th>
            <th style="width: 20%;">Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            <tr>
                <!-- <td>{{ row.id }}</td> -->
                <td>{{ row.username }}</td>
                <td>{{ row.depart }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/user/edit/{{ row.id }}/" style="width: 40px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 50px; text-align: center; margin-bottom: 5px;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /project/delete/?aid=12
            $.ajax({
                url: "/user/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
    </script>
{% endblock %}

{% block css %}
<style>
    #cont {
        width: 50%;
        margin: auto;
        margin-bottom: 100px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
  
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #id_depart, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
 
   
</style>
{% endblock %}