{% extends 'layout.html' %}
{% block content %}
<div id="cont">
    <h3>User List:</h3>
    <details>
        <summary>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
                Help
            </span>
        </summary>        
        <div id="help-content">
            Here, we can read the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            <!-- Click the Download PDF button to download the displayed data(after filtering) as a pdf document.<br> -->
        </div>
    </details>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <!-- <a id="download" href="{% url 'download_projects_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a> -->
    </form>
    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
        <a id="loadingtext"> Loading </a>
    </div>
    <div id="tableContainer" >
        <table class="table table-bordered" id="normalTable">
            <thead>
                <tr>
                    <th style="width: 50%;">User Name</th>
                    <th style="width: 50%;">Department</th>
                </tr>
            </thead>
            <tbody>
                {% for row in filter.qs %}
                    <tr>
                        <td>{{ row.username }}</td>
                        <td>{{ row.depart }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" class="text-center" style="font-size: large;">No data found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    document.getElementById("filterForm").addEventListener("submit", function() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("NoMessage").style.display = "none";
        document.getElementById('normalTable').style.display = 'none';
    });


    document.getElementById("resetButton").addEventListener("click", function() {
        window.location.href = window.location.pathname;
    });
</script>
{% endblock %}

{% block css %}
<style>
    #cont {
        width: 50%;
        margin: auto;
        margin-bottom: 100px;
    }
    
    #id_depart, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
 
   
</style>
{% endblock %}