{% extends 'layout.html' %}


{% block content %}

    
    <div  style="margin-bottom: 100px;">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/bushing/add-multiple/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Bushings
            </a>
        </div>
        <h3>Bushing List:</h3>
        <details>
            <summary>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
                Help
              </span>
            </summary>        
            <div id="help-content">
                Here, we can check the value of each record. <br>
                Data with a blue background color indicates that the data has been confirmed and can be read by other departments.<br>
                Click the <a id="help-btn-upload">New Bushings</a> button to jump to create new Bushings records.<br>
                We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
                Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
                Click the <a id="help-btn-edit">Edit</a> button to modify the data of the corresponding row.<br>
                Click the <a id="help-btn-remove">Delete</a> button to delete the corresponding row.<br>
            </div>
        </details>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
        </form>
        
    <table class="table table-bordered" id="normalTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Part Name</th>
            <th>Bushing Name</th>
            <th>Number of Interface</th>
            <th>Bushing Draw. Nb</th>
            <th>Acc. On Bushing[g]</th>
            <th>Bushing Mass[g]</th>
            <th>Total Bushing Mass[g]</th>
            <th>Operations</th>
            
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            {% if row.part.valid %} 
            <tr style="background-color: #67fafa70;">
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName|default_if_none:"" }}</td>
                <td>{{ row.part.partName|default_if_none:"" }}</td>
                <td>{{ row.bushingName|default_if_none:"" }}</td>
                <td>{{ row.numberInterface|default_if_none:"" }}</td>
                <td>{{ row.bushingDrawNb|default_if_none:"" }}</td>
                <td>{{ row.AccOnBushing|default_if_none:"" }}</td>
                <td>{{ row.bushingMass|default_if_none:"" }}</td>
                <td>{{ row.totalBushingMass|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/bushing/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                        onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName|default_if_none:"" }}</td>
                <td>{{ row.part.partName|default_if_none:"" }}</td>
                <td>{{ row.bushingName|default_if_none:"" }}</td>
                <td>{{ row.numberInterface|default_if_none:"" }}</td>
                <td>{{ row.bushingDrawNb|default_if_none:"" }}</td>
                <td>{{ row.AccOnBushing|default_if_none:"" }}</td>
                <td>{{ row.bushingMass|default_if_none:"" }}</td>
                <td>{{ row.totalBushingMass|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/bushing/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="10" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
        <script>
       

        $('#resetButton').click(function() {
        window.location.href = window.location.pathname;
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /part/delete/?aid=12
            $.ajax({
                url: "/bushing/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
            
      
    </script>
    
{% endblock %}

{% block css %}
<style>
   
    #id_project, #id_part, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}