{% extends 'layout.html' %}


{% block content %}

   
    <div  style="margin-bottom: 100px;">
        <h3>Bushing List:</h3>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
        </form>
        
    <table class="table table-bordered" id="normalTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Part Name</th>
            <th>Bushing Name</th>
            <th>Number of Interface</th>
            <th>Bushing Draw. Nb</th>
            <th>Acc. On Bushing[g]</th>
            <th>Bushing Mass[g]</th>
            <th>Total Bushing Mass[g]</th>
            
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName|default_if_none:"" }}</td>
                <td>{{ row.part.partName|default_if_none:"" }}</td>
                <td>{{ row.bushingName|default_if_none:"" }}</td>
                <td>{{ row.numberInterface|default_if_none:"" }}</td>
                <td>{{ row.bushingDrawNb|default_if_none:"" }}</td>
                <td>{{ row.AccOnBushing|default_if_none:"" }}</td>
                <td>{{ row.bushingMass|default_if_none:"" }}</td>
                <td>{{ row.totalBushingMass|default_if_none:"" }}</td>
               
            </tr>
           
            {% empty %}
            <tr>
                <td colspan="9" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    

{% endblock %}

{% block js %}
        <script>
        //     function transposeTable() {
        //     const normalTable = document.getElementById('normalTable');
        //     const transposedTable = document.getElementById('transposedTable');

        //     // Get the maximum number of columns any row has
        //     let maxCols = 0;
        //     for (const row of normalTable.rows) {
        //         if (row.cells.length > maxCols) {
        //             maxCols = row.cells.length;
        //         }
        //     }

        //     // Create new rows for each column in the original table
        //     for (let i = 0; i < maxCols; i++) {
        //         const newRow = transposedTable.insertRow();
        //         for (const row of normalTable.rows) {
        //             const newCell = newRow.insertCell();
        //             if (i < row.cells.length) {
        //                 newCell.innerHTML = row.cells[i].innerHTML;
        //             } else {
        //                 newCell.innerHTML = ''; // Fill in empty if no data exists for this transposed cell
        //             }
        //         }
        //     }
        // }

        // transposeTable();

        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; // 重定向到相同页面但无查询参数
        });

      
    </script>
    
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #id_project, #id_part, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}