{% extends 'layout.html' %}


{% block content %}
    <div  style="margin-bottom: 100px;">
        <h3>Bushing List:</h3>
        <details>
            <summary>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
                Help
              </span>
            </summary>        
            <div id="help-content">
                Here, we can read the value of each record. <br>
                We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
                Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
                Click the <a id="help-btn-download">Download PDF</a> button to download the displayed data(after filtering) as a pdf document.<br><br>
                In order to avoid loading too much data when entering for the first time, relevant data will be loaded only after clicking <a id="help-btn-filter">Filter</a>. <br>
                If you want to load all the data in the database, click <a id="help-btn-filter">Filter</a> directly without entering or selecting any keywords in the filter.<br>
            </div>
        </details>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1" name="filter">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
            <a id="download" href="{% url 'download_bushings_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a>
        </form>
        <div id="loading" class="loading-overlay">
            <div class="spinner"></div>
            <a id="loadingtext"> Loading </a>
        </div>
        {% if bushings %}
        <table class="table table-bordered" id="normalTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Project Name</th>
                <th>Part Name</th>
                <th>Bushing Name</th>
                <th>Number of Interface</th>
                <th>Bushing Draw. Nb</th>
                <th>Acc. On Bushing[g]</th>
                <th>Bushing Mass[g]</th>
                <th>Total Bushing Mass[g]</th>
                
            </tr>
            </thead>
            <tbody>
            {% for row in bushings %}
                
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.project.projectName|default_if_none:"" }}</td>
                    <td>{{ row.part.partName|default_if_none:"" }}</td>
                    <td>{{ row.bushingName|default_if_none:"" }}</td>
                    <td>{{ row.numberInterface|default_if_none:"" }}</td>
                    <td>{{ row.bushingDrawNb|default_if_none:"" }}</td>
                    <td>{{ row.AccOnBushing|default_if_none:"" }}</td>
                    <td>{{ row.bushingMass|default_if_none:"" }}</td>
                    <td>{{ row.totalBushingMass|default_if_none:"" }}</td>
                
                </tr>
            
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center" style="font-size: large;">{{ message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3 class="text-center" id="NoMessage">{{ message }}</h3>
        {% endif %}
    </div>
        

{% endblock %}

{% block js %}
<script>
            
</script>
{% endblock %}

{% block css %}
<style>
    #id_project, #id_part, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}