{% extends 'layout.html' %}

{% block content %}
<div class="panel panel-default" style="margin-bottom: 100px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Add Multiple Interfaces</div>
    <div class="panel-body">
        <form id="upload-form" method="post" enctype="multipart/form-data" class="form-horizontal"  novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-bottom: 10px;">
                        <label for="file"  class="col-sm-1 control-label">Upload Excel File</label>
                        <div class="col-sm-11">
                            <div class="file-upload-container">
                                <input type="file" id="file" name="file" class="form-control">
                                <button type="submit" id="uploadbtn" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-bottom: 25px;">
                        <label class="col-sm-1 control-label">Project</label>
                        <div class="col-sm-11" style="position: relative">
                            <select id="id_project" name="project" class="form-control">
                                <option value=""> - - - - Please select one - - - - </option>
                                {% for project in projects %}
                                    <option value="{{ project.id }}">{{ project.projectName }}</option>
                                {% endfor %}
                            </select>
                            <span style="color: red;">{{ project_part_form.project.errors.0 }}</span>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 25px;">
                        <label class="col-sm-1 control-label">Part</label>
                        <div class="col-sm-11" style="position: relative">
                            <select id="id_part" name="part" class="form-control">
                                <option value=""> - - - - Please select one - - - - </option>
                                <!-- Options will be loaded dynamically -->
                            </select>
                            <span style="color: red;">{{ project_part_form.part.errors.0 }}</span>
                        </div>
                    </div>
                </div>
                {{ formset.management_form }}
                <table class="table table-bordered" id="interface-table">
                    <thead>
                        <tr>
                            <th>Interface Name</th>
                            <th>Height [mm]</th>
                            <th>Int. Diameter [mm]</th>
                            <th>Total Link</th>
                            <th>Total Arm</th>
                            <th>Total Section [mm²]</th>
                            <th>Ext. Diameter [mm]</th>
                            <th>Acc. Mass [g]</th>
                            <th>Fin. O. Diam. [mm]</th>
                            <th>Fin. Acc. section [mm²]</th>
                            <th>Safety Factor [%]</th>
                            <th>Interface's center X [mm]</th>
                            <th>Interface's center Y [mm]</th>
                            <th>Interface's center Z [mm]</th>
                            <th>Direction vector X [mm]</th>
                            <th>Direction vector Y [mm]</th>
                            <th>Direction vector Z [mm]</th>
                            <th>Division Step</th>
                            <th style="width: 100px;">Operation</th>
                        </tr>
                    </thead>
                    <tbody contenteditable="true">
                        {% for field in formset %}
                        <tr class="interface-form">
                            <td contenteditable="true">{{ field.interfaceName }}
                                {% if field.height.value or field.intDiameter.value or field.totalLink.value or field.totalArm.value or field.totalSection.value or field.extDiameter.value or field.accMass.value or field.finODiam.value or field.finAccSection.value or field.safetyFactor.value or field.interfaceCenterX.value or field.interfaceCenterY.value or field.interfaceCenterZ.value or field.directionVectorX.value or field.directionVectorY.value or field.directionVectorZ.value or field.divisionStep.value %}
                                {% if not field.interfaceName.value %}
                                    <span style="color: red;">{{ interfaceError }}</span>
                                {% endif %}{% endif %}</td>

                            <td contenteditable="true">{{ field.height }}</td>
                            <td contenteditable="true">{{ field.intDiameter }}</td>
                            <td contenteditable="true">{{ field.totalLink }}</td>
                            <td contenteditable="true">{{ field.totalArm }}</td>

                            <td contenteditable="true">{{ field.totalSection }}</td>
                            <td contenteditable="true">{{ field.extDiameter }}</td>
                            <td contenteditable="true">{{ field.accMass }}</td>
                            <td contenteditable="true">{{ field.finODiam }}</td>

                            <td contenteditable="true">{{ field.finAccSection }}</td>
                            <td contenteditable="true">{{ field.safetyFactor }}</td>
                            <td contenteditable="true">{{ field.interfaceCenterX }}</td>
                            <td contenteditable="true">{{ field.interfaceCenterY }}</td>

                            <td contenteditable="true">{{ field.interfaceCenterZ }}</td>
                            <td contenteditable="true">{{ field.directionVectorX }}</td>
                            <td contenteditable="true">{{ field.directionVectorY }}</td>
                            <td contenteditable="true">{{ field.directionVectorZ }}</td>
                            <td contenteditable="true">{{ field.divisionStep }}</td>
                           
                            <td class="text-center">{% if not forloop.first %}<button type="button" class="btn btn-danger remove-form">Remove</button>{% endif %}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-9 col-sm-12">
                            <button type="button" id="add-interface" class="btn btn-secondary" style="width: 14%;">Add Interface</button>
                            <button type="submit" class="btn btn-primary" style="width: 6%; margin-left: 3%;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        function loadParts(projectId) {
            var url = '{% url "load_parts" %}';
            $.ajax({
                url: url,
                data: {
                    'project_id': projectId
                },
                success: function(data) {
                    $("#id_part").html('<option value=""> - - - - Please select one - - - - </option>');
                    $.each(data, function(key, value) {
                        $("#id_part").append('<option value="' + value.id + '">' + value.partName + '</option>');
                    });
                }
            });
        }

        $('#id_project').change(function() {
            var projectId = $(this).val();
            loadParts(projectId);
        });

        $('#add-interface').click(function() {
            var formCount = $('#id_form-TOTAL_FORMS').val();
            var newForm = $('.interface-form:first').clone(true).removeClass('interface-form');
            newForm.find('input').each(function() {
                var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('');
            });
            newForm.find('td:last').html('<button type="button" class="btn btn-danger remove-form">Remove</button>');
            $('#interface-table tbody').append(newForm);
            $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);
        });

        $(document).on('click', '.remove-form', function() {
            if ($('#interface-table tbody tr').length > 1) {
                $(this).closest('tr').remove();
                var formCount = $('#id_form-TOTAL_FORMS').val();
                $('#id_form-TOTAL_FORMS').val(parseInt(formCount) - 1);
                // 重新调整所有表单行的索引
                $('#interface-table tbody tr').each(function(index) {
                    $(this).find('input').each(function() {
                        var name = $(this).attr('name').replace(/-\d+-/, '-' + index + '-');
                        var id = 'id_' + name;
                        $(this).attr({'name': name, 'id': id});
                    });
                });
            }
        });

        // Handle paste event to populate table cells
        $('#interface-table tbody').on('paste', 'td', function(e) {
            e.preventDefault();
            var text = (e.originalEvent || e).clipboardData.getData('text/plain');
            var rows = text.split('\n');
            var $currentRow = $(this).closest('tr');
            var startRowIndex = $currentRow.index();
            var startColIndex = $(this).index();

            rows.forEach(function(row, rowIndex) {
                if (row.trim() !== '') {
                    var cols = row.split('\t');
                    var $row = $('#interface-table tbody tr').eq(startRowIndex + rowIndex);
                    if ($row.length === 0) {
                        $('#add-interface').click();
                        $row = $('#interface-table tbody tr').last();
                    }
                    cols.forEach(function(col, colIndex) {
                        var $cell = $row.find('td').eq(startColIndex + colIndex);
                        $cell.find('input').val(col.trim() || '');
                    });
                }
            });
        });
        
        $('#upload-form').on('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "{% url 'upload_file_interface' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }
                    $('#id_project').val(data.interface_data.project_id);
                    loadParts(data.interface_data.project_id);
                    // Populate form fields with returned data
                    for(var i=0; i<data.numberInterface; i++) {
                        var $row = $('#interface-table tbody tr').last();

                        // Check if the last row is empty
                        var isEmptyRow = !$row.find('td').eq(0).find('input').val() &&
                                        !$row.find('td').eq(1).find('input').val() &&
                                        !$row.find('td').eq(2).find('input').val() &&
                                        !$row.find('td').eq(3).find('input').val() &&
                                        !$row.find('td').eq(4).find('input').val() &&
                                        !$row.find('td').eq(5).find('input').val() &&
                                        !$row.find('td').eq(6).find('input').val() &&
                                        !$row.find('td').eq(7).find('input').val() &&
                                        !$row.find('td').eq(8).find('input').val() &&
                                        !$row.find('td').eq(9).find('input').val() &&
                                        !$row.find('td').eq(10).find('input').val() &&
                                        !$row.find('td').eq(11).find('input').val() &&
                                        !$row.find('td').eq(12).find('input').val() &&
                                        !$row.find('td').eq(13).find('input').val() ;

                        if (isEmptyRow) {
                            $row.find('td').eq(0).find('input').val(data.interfaceName[i]); 
                            $row.find('td').eq(1).find('input').val(data.height[i]);
                            $row.find('td').eq(2).find('input').val(data.intDiameter[i]);
                            $row.find('td').eq(3).find('input').val(data.totalLink[i]);
                            $row.find('td').eq(4).find('input').val(data.totalArm[i]);
                            $row.find('td').eq(5).find('input').val(data.totalSection[i]);
                            $row.find('td').eq(6).find('input').val(data.extDiameter[i]); 
                            $row.find('td').eq(7).find('input').val(data.accMass[i]);
                            $row.find('td').eq(8).find('input').val(data.finODiam[i]);
                            $row.find('td').eq(9).find('input').val(data.finAccSection[i]);
                            $row.find('td').eq(10).find('input').val(data.safetyFactor[i]);
                            $row.find('td').eq(11).find('input').val(data.interfaceCenterX[i]);
                            $row.find('td').eq(12).find('input').val(data.interfaceCenterY[i]); 
                            $row.find('td').eq(13).find('input').val(data.interfaceCenterZ[i]);
                            // $row.find('td').eq(14).find('input').val(data.bushing_data_draw[i]);
                        } else {
                            $('#add-interface').click();
                            $row = $('#interface-table tbody tr').last();
                            $row.find('td').eq(0).find('input').val(data.interfaceName[i]); 
                            $row.find('td').eq(1).find('input').val(data.height[i]);
                            $row.find('td').eq(2).find('input').val(data.intDiameter[i]);
                            $row.find('td').eq(3).find('input').val(data.totalLink[i]);
                            $row.find('td').eq(4).find('input').val(data.totalArm[i]);
                            $row.find('td').eq(5).find('input').val(data.totalSection[i]);
                            $row.find('td').eq(6).find('input').val(data.extDiameter[i]); 
                            $row.find('td').eq(7).find('input').val(data.accMass[i]);
                            $row.find('td').eq(8).find('input').val(data.finODiam[i]);
                            $row.find('td').eq(9).find('input').val(data.finAccSection[i]);
                            $row.find('td').eq(10).find('input').val(data.safetyFactor[i]);
                            $row.find('td').eq(11).find('input').val(data.interfaceCenterX[i]);
                            $row.find('td').eq(12).find('input').val(data.interfaceCenterY[i]); 
                            $row.find('td').eq(13).find('input').val(data.interfaceCenterZ[i]);
                            // $row.find('td').eq(14).find('input').val(data.bushing_data_draw[i]);
                        }

                    }
                    
                },
                error: function(data) {
                    alert("Please upload a correct file or create the Project first.");
                }
            });
        });
    });
</script>

{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #id_project, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #uploadbtn {
        width: 100px;
        height: 33px;
        font-size: 18px; 
        border: none;
        outline: none; 
        background-color: #4CAF50; 
        color: white;
        cursor: pointer;
        border-radius: 4px; 
    }
    #uploadbtn:hover {
        background-color: #2f7a30; 
    }
    .file-upload-container {
        display: flex;
        align-items: center;
    }
    .file-upload-container input[type="file"] {
        margin-right: 10px;  
    }
    .file-upload-container button {
        white-space: nowrap;
    }
</style>
{% endblock %} 