{% extends 'layout.html' %}


{% block content %}

    
    <div  style="margin-bottom: 100px;">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/interface/add-multiple/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Interfaces
            </a>
        </div>
        <h3>Interface List:</h3>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
        </form>
        
    <table class="table table-bordered" id="normalTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Part Name</th>
            <th>Interface Name</th>
            <th>Height [mm]</th>
            <th>Int. Diameter [mm]</th>
            <th>Total Link</th>
            <th>Total Arm</th>
            <th>Total Section [mm²]</th>
            <th>Ext. Diameter [mm]</th>
            <!-- <th>Theo. height [mm]</th> -->
            <th>Acc. Mass [g]</th>
            <th>Fin. O. Diam. [mm]</th>
            <th>Fin. Acc. section [mm²]</th>
            <th>Safety Factor [%]</th>
            <th>Interface's center X [mm]</th>
            <th>Interface's centerY [mm]</th>
            <th>Interface's centerZ [mm]</th>
            <th>Direction vectorX [mm]</th>
            <th>Direction vectorY [mm]</th>
            <th>Direction vectorZ [mm]</th>
            <th>*divisionStep*</th>
            <th>Operations</th>
            
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            {% if row.part.valid %} 
            <tr style="background-color: #67fafa70;">
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.part.partName }}</td>
                <td>{{ row.interfaceName }}</td>
                <td>{{ row.height|default_if_none:"" }}</td>
                <td>{{ row.intDiameter|default_if_none:"" }}</td>
                <td>{{ row.totalLink|default_if_none:"" }}</td>
                <td>{{ row.totalArm|default_if_none:"" }}</td>
                <td>{{ row.totalSection|default_if_none:"" }}</td>
                <td>{{ row.extDiameter|default_if_none:"" }}</td>
                <!-- <td>{{ row.theoHeight|default_if_none:"" }}</td> -->
                <td>{{ row.accMass|default_if_none:"" }}</td>
                <td>{{ row.finODiam|default_if_none:"" }}</td>
                <td>{{ row.finAccSection|default_if_none:"" }}</td>
                <td>{{ row.safetyFactor|default_if_none:"" }}</td>
                <td>{{ row.interfaceCenterX|default_if_none:"" }}</td>
                <td>{{ row.interfaceCenterY|default_if_none:"" }}</td>
                <td>{{ row.interfaceCenterZ|default_if_none:"" }}</td>
                <td>{{ row.directionVectorX|default_if_none:"" }}</td>
                <td>{{ row.directionVectorY|default_if_none:"" }}</td>
                <td>{{ row.directionVectorZ|default_if_none:"" }}</td>
                <td>{{ row.divisionStep|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/interface/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.part.partName }}</td>

                <td>{{ row.interfaceName }}</td>
                <td>{{ row.height|default_if_none:"" }}</td>
                <td>{{ row.intDiameter|default_if_none:"" }}</td>
                <td>{{ row.totalLink|default_if_none:"" }}</td>
                <td>{{ row.totalArm|default_if_none:"" }}</td>
                <td>{{ row.totalSection|default_if_none:"" }}</td>
                <td>{{ row.extDiameter|default_if_none:"" }}</td>
                <!-- <td>{{ row.theoHeight|default_if_none:"" }}</td> -->
                <td>{{ row.accMass|default_if_none:"" }}</td>
                <td>{{ row.finODiam|default_if_none:"" }}</td>
                <td>{{ row.finAccSection|default_if_none:"" }}</td>
                <td>{{ row.safetyFactor|default_if_none:"" }}</td>
                <td>{{ row.interfaceCenterX|default_if_none:"" }}</td>
                <td>{{ row.interfaceCenterY|default_if_none:"" }}</td>
                <td>{{ row.interfaceCenterZ|default_if_none:"" }}</td>
                <td>{{ row.directionVectorX|default_if_none:"" }}</td>
                <td>{{ row.directionVectorY|default_if_none:"" }}</td>
                <td>{{ row.directionVectorZ|default_if_none:"" }}</td>
                <td>{{ row.divisionStep|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/interface/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="22" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
        <script>
        

        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /part/delete/?aid=12
            $.ajax({
                url: "/interface/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
            
      
    </script>
    
{% endblock %}

{% block css %}
<style>
   
    #id_project, #id_part, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}