{% extends 'layout.html' %}

{% block content %}
<div>
    <h3>Interface List:</h3>
    <form method="get" id="filterForm">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-bordered" id="interface-table">
            <thead>
                <thead>
                    <tr>
                        <th>Interface Name</th>
                        <th style="width: 1%;">Height [mm]</th>
                        <th style="width: 1%;">Int. Diameter [mm]</th>
                        <th style="width: 1%;"> Total Link</th>
                        <th>Total Arm</th>
                        <th>Total Section [mm²]</th>
                        <th>Ext. Diameter [mm]</th>
                        <th>Theo. height [mm]</th>
                        <th>Acc. Mass [g]</th>
                        <th>Fin. O. Diam. [mm]</th>
                        <th>Fin. Acc. section [mm²]</th>
                        <th>Safety Factor [%]</th>
                        <th>Interface's center X [mm]</th>
                        <th>Interface's center Y [mm]</th>
                        <th>Interface's center Z [mm]</th>
                        <th>Direction vector X [mm]</th>
                        <th>Direction vector Y [mm]</th>
                        <th>Direction vector Z [mm]</th>
                        <th>*divisionStep*</th>
                        <th>Operation</th>
                    </tr>
                </thead>
            </thead>
            <tbody>
                {% for field in formset %}
                <tr class="interface-form">
                    <td contenteditable="true">{{ field.interfaceName }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.height }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.intDiameter }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.totalLink }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.totalArm }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.totalSection }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.extDiameter }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.theoHeight }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.accMass }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.finODiam }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.finAccSection }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.safetyFactor }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.interfaceCenterX }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.interfaceCenterY }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.interfaceCenterZ }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.directionVectorX }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.directionVectorY }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.directionVectorZ }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                    <td contenteditable="true">{{ field.divisionStep }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                   
                    <td class="text-center"><button type="button" class="btn btn-danger remove-form">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" id="btns">Save</button>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Are you sure you want to delete it?</h4>
            <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
            <p>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelDeleteBtn">Cancel</button>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 200px;
    }
    th, td {
        width: 17%;
        border: 1px solid #ddd;
        padding: 0px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2 {
        width: 100px;
        background-color: #49b7be;
        color: white;
        padding: 5px 10px;
        margin: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #btns {
        width: 100px;
        background-color: #13bd13;
        color: white;
        padding: 5px 10px;
        margin: 8px;
        margin-left: 90%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #id_project, #id_part, input[type="text"] {
        width: 100%;
        padding: 8px;
        margin: 0px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#resetButton').click(function() {
        window.location.href = window.location.pathname; // 重定向到相同页面但无查询参数
    });

    let DELETE_ID = 0;

    // 显示删除确认对话框
    function deleteAction(id) {
        DELETE_ID = id;
        $('#myModal').modal('show');
    }

    // 确认删除操作
    function confirmDelete() {
        $.ajax({
            url: "/interface/delete/",
            type: "GET",
            data: { aid: DELETE_ID },
            dataType: "JSON",
            success: function(res) {
                if (res.status) {
                    location.reload();
                } else {
                    alert(res.error);
                }
            }
        });
    }

    // 取消删除操作
    function cancelDelete() {
        DELETE_ID = 0;
        $('#myModal').modal('hide');
    }

    // 绑定删除按钮点击事件
    $(document).on('click', '.remove-form', function() {
        let row = $(this).closest('tr');
        let interfaceId = row.find('input[name$="-id"]').val();
        if (interfaceId) {
            deleteAction(interfaceId);
        } else {
            row.remove();
        }
    });

    $('#confirmDeleteBtn').click(function() {
        confirmDelete();
    });

    $('#cancelDeleteBtn').click(function() {
        cancelDelete();
    });


    // Handle paste event to populate table cells
    $('#interface-table tbody').on('paste', 'td', function(e) {
        e.preventDefault();
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        var rows = text.split('\n');
        var $currentRow = $(this).closest('tr');
        var startRowIndex = $currentRow.index();
        var startColIndex = $(this).index();

        rows.forEach(function(row, rowIndex) {
            if (row.trim() !== '') {
                var cols = row.split('\t');
                var $row = $('#interface-table tbody tr').eq(startRowIndex + rowIndex);
                if ($row.length === 0) {
                    $('#add-interface').click();
                    $row = $('#interface-table tbody tr').last();
                }
                cols.forEach(function(col, colIndex) {
                    var $cell = $row.find('td').eq(startColIndex + colIndex);
                    $cell.find('input').val(col.trim() || '');
                });
            }
        });
    });
});
</script>
{% endblock %}
