{% extends 'layout.html' %}
{% load custom_filters %}

{% block content %}
<div  style="margin-bottom: 100px;">
    <h3>Interface List:</h3>
    <details>
        <summary>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
            </span>
        </summary>        
        <div id="help-content">
            Here, we can read the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-download">Download PDF</a> button to download the displayed data(after filtering) as a pdf document.<br><br>
            In order to avoid loading too much data when entering for the first time, relevant data will be loaded only after clicking <a id="help-btn-filter">Filter</a>. <br>
            If you want to load all the data in the database, click <a id="help-btn-filter">Filter</a> directly without entering or selecting any keywords in the filter.<br>
        </div>
    </details>
    <form method="get" id="filterForm">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <a id="download" href="{% url 'download_interfaces_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a>
    </form>
    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
        <a id="loadingtext"> Loading </a>
    </div>
    <div id="tableContainer" >
        {% if interfaces %}
            <table class="table table-bordered" id="normalTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Part Name</th>
                        <th>Interface Name</th>
                        <th>Height [mm]</th>
                        <th>Int. Diameter [mm]</th>
                        <th>Total Link</th>
                        <th>Total Arm</th>
                        <th>Total Section [mm²]</th>
                        <th>Ext. Diameter [mm]</th>
                        <th>Acc. Mass [g]</th>
                        <th>Fin. O. Diam. [mm]</th>
                        <th>Fin. Acc. section [mm²]</th>
                        <th>Safety Factor [%]</th>
                        <th>Interface's center X [mm]</th>
                        <th>Interface's centerY [mm]</th>
                        <th>Interface's centerZ [mm]</th>
                        <th>Direction vectorX [mm]</th>
                        <th>Direction vectorY [mm]</th>
                        <th>Direction vectorZ [mm]</th>
                        <th>Division Step</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in interfaces %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.project.projectName }}</td>
                            <td>{{ row.part.partName }}</td>

                            <td>{{ row.interfaceName }}</td>
                            <td>{{ row.height|default_if_none:"" }}</td>
                            <td>{{ row.intDiameter|default_if_none:"" }}</td>
                            <td>{{ row.calculated_properties.totalLink|default_if_none:"" }}</td>
                            <td>{{ row.calculated_properties.totalArm|default_if_none:"" }}</td>
                            <td>{{ row.calculated_properties.totalSection|format_decimal:2|default_if_none:"" }}</td>
                            <td>{{ row.calculated_properties.extDiameter|format_decimal:2|default_if_none:"" }}</td>
                            <td>{{ row.calculated_properties.accMass|format_decimal:2|default_if_none:"" }}</td>
                            <td>{{ row.finODiam|default_if_none:"" }}</td>
                            <td>{{ row.finAccSection|default_if_none:"" }}</td>
                            <td>{{ row.calculated_properties.safetyFactor|default_if_none:"" }}</td>
                            <td>{{ row.interfaceCenterX|default_if_none:"" }}</td>
                            <td>{{ row.interfaceCenterY|default_if_none:"" }}</td>
                            <td>{{ row.interfaceCenterZ|default_if_none:"" }}</td>
                            <td>{{ row.directionVectorX|default_if_none:"" }}</td>
                            <td>{{ row.directionVectorY|default_if_none:"" }}</td>
                            <td>{{ row.directionVectorZ|default_if_none:"" }}</td>
                            <td>{{ row.divisionStep|default_if_none:"" }}</td>
                        
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="text-center" id="NoMessage">{{ message }}</h3>
        {% endif %}
    </div>
</div>
    
{% endblock %}

{% block js %}
<script>
    document.getElementById("filterForm").addEventListener("submit", function() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("NoMessage").style.display = "none";
        document.getElementById('normalTable').style.display = 'none';
    });


    document.getElementById("resetButton").addEventListener("click", function() {
        window.location.href = window.location.pathname;
    });
</script>
{% endblock %}

{% block css %}
<style>
   
    #id_project, #id_part, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}