{% extends 'layout.html' %}

{% block content %}
<div  style="margin-bottom: 100px;">
    <h3>Thermophysical Toughness Properties of Resin List:</h3>
    <form method="get" id="filterForm">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <a class="btn btn-success" href="/resin/modify-multiple/" id="btnmore">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Modify Resin List
        </a>
        <a class="btn btn-success" href="/resin/modify-mechanical-properties/" id="btnmore">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Modify Mechanical Properties of Resin List
        </a>
   
        
    </form>
    {% if formset.total_form_count > 0 %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-bordered" id="resin-table">
            <thead>
                <tr>
                    <tr>
                        <th rowspan="2">Manufacturer</th>
                        <th colspan="3">Resin system</th>
                        

                        <th rowspan="2">Thermal expansion coefficient (ppm/K)</th>
                        <th rowspan="2">Charpy impact at RT (mJ/mm²)</th>
                        <th rowspan="2">Fracture toughness K1C (Mpa.m1/2)</th>
                        <th rowspan="2">Fracture energy G1C (J/m²)</th>
                        <th rowspan="2">Total shrinkage at RT (Vol%)</th>
                        <th rowspan="2">Hardness at RT</th>
                        <th rowspan="2">Water absorption (7d at 23°C)</th>
                        <th colspan="2" rowspan="2" style="width: 100px;">Operation</th>
                    </tr>
                    <tr>
                        <th id="resinl">Resin</th>
                        <th id="resinl">Hardener</th>
                        <th id="resinl">Accelerator</th>
                       
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr class="resin-form">
                    {% for field in form %}
                    <td contenteditable="true">{{ field }}</td>
                    <span style="color: red;">{{ field.errors.0 }}</span>
                    {% endfor %}
                    <td class="text-center"><button type="button" class="btn btn-danger remove-form">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" id="btns">Save</button>
    </form>
    {% else %}
        <h2>This table is empty. You need to add the basic information of Resin first.</h2>
    {% endif %}
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Are you sure you want to delete it?</h4>
            <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
            <p>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelDeleteBtn">Cancel</button>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 200px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2 {
        width: 100px;
        background-color: #49b7be;
        color: white;
        padding: 5px 10px;
        margin: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #btns {
        width: 100px;
        background-color: #13bd13;
        color: white;
        padding: 5px 10px;
        margin: 8px;
        margin-left: 90%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #id_project, #id_part, input[type="text"] , #id_valid{
        width: 100%;
        padding: 8px;
        margin: 0px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    #resinl {
        width: 250px;
    }
    #btnmore {
        width: 500px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 

        margin-left: 100px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
</style>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#resetButton').click(function() {
        window.location.href = window.location.pathname;  
    });

    let DELETE_ID = 0;

     
    function deleteAction(id) {
        DELETE_ID = id;
        $('#myModal').modal('show');
    }

     
    function confirmDelete() {
        $.ajax({
            url: "/resin/delete/",
            type: "GET",
            data: { aid: DELETE_ID },
            dataType: "JSON",
            success: function(res) {
                if (res.status) {
                    location.reload();
                } else {
                    alert(res.error);
                }
            }
        });
    }

    
    function cancelDelete() {
        DELETE_ID = 0;
        $('#myModal').modal('hide');
    }

    
    $(document).on('click', '.remove-form', function() {
        let row = $(this).closest('tr');
        let resinId = row.find('input[name$="-id"]').val();
        if (resinId) {
            deleteAction(resinId);
        } else {
            row.remove();
        }
    });

    $('#confirmDeleteBtn').click(function() {
        confirmDelete();
    });

    $('#cancelDeleteBtn').click(function() {
        cancelDelete();
    });
    
    // Handle paste event to populate table cells
    $('#resin-table tbody').on('paste', 'td', function(e) {
        e.preventDefault();
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        var rows = text.split('\n');
        var $currentRow = $(this).closest('tr');
        var startRowIndex = $currentRow.index();
        var startColIndex = $(this).index();

        rows.forEach(function(row, rowIndex) {
            if (row.trim() !== '') {
                var cols = row.split('\t');
                var $row = $('#resin-table tbody tr').eq(startRowIndex + rowIndex);
                if ($row.length === 0) {
                    $('#add-resin').click();
                    $row = $('#resin-table tbody tr').last();
                }
                cols.forEach(function(col, colIndex) {
                    var $cell = $row.find('td').eq(startColIndex + colIndex);
                    $cell.find('input').val(col.trim() || '');
                });
            }
        });
    });
});
</script>
{% endblock %}
