{% extends 'layout.html' %}


{% block content %}
<div style="margin-bottom: 100px;">
    <h3>Mechanical Properties of Resin List:</h3>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <a class="btn btn-success" href="/resin/valid/" id="btnmore">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Resin List
        </a>
        <a class="btn btn-success" href="/resin/valid-thermophysical-toughness-properties/" id="btnmore">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Thermophysical Toughness Properties of Resin List
        </a>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <!--  -->
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Manufacturer</th>
                <th colspan="3">Resin system</th>
                
                <th rowspan="2">Flexural strength (MPa)</th>
                <th rowspan="2">Flexural modulus (GPa)</th>
                <th rowspan="2">Modulus of elasticity (GPa) (tensile)</th>
                <th rowspan="2">Tensile strength (MPa)</th>
                <th rowspan="2">Elongation at break (%)</th>
                <th rowspan="2">Compression ult. strength (MPa)</th>
                <th rowspan="2">Compression modulus (GPa)</th>
                
                
            </tr>
            <tr>
                <th id="resinl">Resin</th>
                <th id="resinl">Hardener</th>
                <th id="resinl">Accelerator</th>
               
            </tr>
           
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
           
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.manufacturer|default_if_none:"" }}</td>
                <td>{{ row.resin|default_if_none:"" }}</td>
                <td>{{ row.hardener|default_if_none:"" }}</td>
                <td>{{ row.accelerator|default_if_none:"" }}</td>

                <td>{{ row.flexuralStrength|default_if_none:"" }}</td>
                <td>{{ row.flexuralmodulus|default_if_none:"" }}</td>
                <td>{{ row.modulusElasticity|default_if_none:"" }}</td>
                <td>{{ row.tensileStrength|default_if_none:"" }}</td>
                <td>{{ row.elongationBreak|default_if_none:"" }}</td>
                <td>{{ row.compressionUltStrength|default_if_none:"" }}</td>
                <td>{{ row.compressionModulus|default_if_none:"" }}</td>
                


            </tr>
            {% empty %}
            <tr>
                <td colspan="12" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

     

    </script>
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
  
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #resinl {
        width: 250px;
    }
    #btnmore {
        width: 500px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 

        margin-left: 100px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
 
   
</style>
{% endblock %}