{% extends 'layout.html' %}

{% block content %}
<div class="panel panel-default"  style="margin-bottom: 100px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Add Multiple Resins
        <details>
            <summary>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
                Help
              </span>
            </summary>        
            <div id="help-content">
                Here, we can enter the value of each attribute manually or by batch copying and pasting. <br>
                Click the <a id="help-btn-add">Add Resin</a> button to add a row.<br>
                Click the <a id="help-btn-remove">Remove</a> button to clear the corresponding row.<br>
                Click the <a id="help-btn-save">Save</a> button to save the data to the database.<br>
                We do not define any mandatory fields here, but please fill in the <a id="help-btn-download">Manufacturer</a>, <a id="help-btn-download">Resin</a>, <a id="help-btn-download">Hardener</a> and <a id="help-btn-download">Accelerator</a> as completely as possible.
            </div>
        </details>
    </div>
    <div class="panel-body">
        
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                {{ formset.management_form }}
                <!-- <table class="table table-bordered" id="resin-table">
                    <thead>
                        <tr>
                            <tr>
                                <th rowspan="2">Manufacturer</th>
                                <th colspan="3">Resin system</th>
                                <th colspan="3">Ratio(weight)</th>
                                <th colspan="3">Ratio(volume)</th>
                                <th rowspan="2">Pot life (Process T°;h)</th>
                                <th rowspan="2">Process T (°C)</th>
                                <th rowspan="2">Curing cycle</th>
                                <th rowspan="2">Tg (°C)</th>
                                <th rowspan="2">Price resin</th>
                                <th rowspan="2">Price hardener</th>
                                <th rowspan="2">Density (g/cm³)</th>


                                <th rowspan="2">Flexural strength (MPa)</th>
                                <th rowspan="2">Flexural modulus (GPa)</th>
                                <th rowspan="2">Modulus of elasticity (GPa) (tensile)</th>
                                <th rowspan="2">Tensile strength (MPa)</th>
                                <th rowspan="2">Elongation at break (%)</th>
                                <th rowspan="2">Compression ult. strength (MPa)</th>
                                <th rowspan="2">Compression modulus (GPa)</th>


                                <th rowspan="2">Thermal expansion coefficient (ppm/K)</th>
                                <th rowspan="2">Charpy impact at RT (mJ/mm²)</th>
                                <th rowspan="2">Fracture toughness K1C (Mpa.m1/2)</th>
                                <th rowspan="2">Fracture energy G1C (J/m²)</th>
                                <th rowspan="2">Total shrinkage at RT (Vol%)</th>
                                <th rowspan="2">Hardness at RT</th>
                                <th rowspan="2">Water absorption (7d at 23°C)</th>
                                <th rowspan="2" style="width: 100px;">Operation</th>
                            </tr>
                            <tr>
                                <th>Resin</th>
                                <th>Hardener</th>
                                <th>Accelerator</th>
                                <th>R</th>
                                <th>H</th>
                                <th>A</th>
                                <th>R</th>
                                <th>H</th>
                                <th>A</th>
                                
                            </tr>
                        </tr>
                    </thead>
                    <tbody contenteditable="true">
                        {% for field in formset %}
                        <tr class="resin-form">
                            <td contenteditable="true">{{ field.manufacturer }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.resin }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.hardener }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.accelerator }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioWR }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioWH }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioWA }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioVR }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioVH }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioVA }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.potLife }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.processT }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.curingCycle }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tg }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.priceResin }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.priceHardener }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.densityR }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.flexuralStrength }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.flexuralmodulus }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.modulusElasticity }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tensileStrength }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.elongationBreak }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.compressionUltStrength }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.compressionModulus }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.thermalExpansionCoefficient }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.charpyimpact }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.fractureToughness }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.fractureEnergy }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.totalShrinkage }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.hardness }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.waterAbsorption }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            
                            <td class="text-center">{% if not forloop.first %}<button type="button" class="btn btn-danger remove-form">Remove</button>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
                <table class="table table-bordered" id="resin-table">
                    <thead>
                        <tr>
                            <tr>
                                <th rowspan="2">Manufacturer</th>
                                <th colspan="3">Resin system</th>
                                <th colspan="3">Ratio(weight)</th>
                                <th colspan="3">Ratio(volume)</th>
                                <th rowspan="2">Pot life (Process T°;h)</th>
                                <th rowspan="2">Process T (°C)</th>
                                <th rowspan="2">Curing cycle</th>
                                <th rowspan="2">Tg (°C)</th>
                                <th rowspan="2">Price resin</th>
                                <th rowspan="2">Price hardener</th>
                                <th rowspan="2">Density (g/cm³)</th>


                                <th rowspan="2" style="width: 100px;">Operation</th>
                            </tr>
                            <tr>
                                <th>Resin</th>
                                <th>Hardener</th>
                                <th>Accelerator</th>
                                <th>R</th>
                                <th>H</th>
                                <th>A</th>
                                <th>R</th>
                                <th>H</th>
                                <th>A</th>
                                
                            </tr>
                        </tr>
                    </thead>
                    <tbody >
                        {% for field in formset %}
                        <tr class="resin-form">
                            <td contenteditable="true">{{ field.manufacturer }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.resin }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.hardener }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.accelerator }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioWR }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioWH }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioWA }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioVR }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioVH }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.ratioVA }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.potLife }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.processT }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.curingCycle }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.tg }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.priceResin }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.priceHardener }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            <td contenteditable="true">{{ field.densityR }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                           
                            <td class="text-center"> <button type="button" class="btn btn-danger remove-form">Remove</button> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-9 col-sm-12">
                            <button type="button" id="add-resin" class="btn btn-secondary" style="width: 14%;">Add Resin</button>
                            <button type="submit" class="btn btn-primary" style="width: 6%; margin-left: 3%;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        

        $('#add-resin').click(function() {
            var formCount = $('#id_form-TOTAL_FORMS').val();
            var newForm = $('.resin-form:first').clone(true).removeClass('resin-form');
            newForm.find('input').each(function() {
                var name = $(this).attr('name').replace('-0-', '-' + formCount + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('');
            });
            newForm.find('td:last').html('<button type="button" class="btn btn-danger remove-form">Remove</button>');
            $('#resin-table tbody').append(newForm);
            $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);
        });

        $(document).on('click', '.remove-form', function() {
            var $row = $(this).closest('tr');
            if ($row.index() === 0) {
                // console.log("me")
                // console.log($row.index())
                // Clear the content of the first row
                $row.find('input').val('');
            } else {
                console.log($row.index())
                if ($('#resin-table tbody tr').length > 1) {
                    $row.remove();
                    var formCount = $('#id_form-TOTAL_FORMS').val();
                    $('#id_form-TOTAL_FORMS').val(parseInt(formCount) - 1);
                    // Reindex all table rows
                    $('#resin-table tbody tr').each(function(index) {
                        $(this).find('input').each(function() {
                            var name = $(this).attr('name').replace(/-\d+-/, '-' + index + '-');
                            var id = 'id_' + name;
                            $(this).attr({'name': name, 'id': id});
                        });
                    });
                }
            }
        });

        // Handle paste event to populate table cells
        $('#resin-table tbody').on('paste', 'td', function(e) {
            e.preventDefault();
            var text = (e.originalEvent || e).clipboardData.getData('text/plain');
            var rows = text.split('\n');
            var $currentRow = $(this).closest('tr');
            var startRowIndex = $currentRow.index();
            var startColIndex = $(this).index();

            rows.forEach(function(row, rowIndex) {
                if (row.trim() !== '') {
                    var cols = row.split('\t');
                    var $row = $('#resin-table tbody tr').eq(startRowIndex + rowIndex);
                    if ($row.length === 0) {
                        $('#add-resin').click();
                        $row = $('#resin-table tbody tr').last();
                    }
                    cols.forEach(function(col, colIndex) {
                        var $cell = $row.find('td').eq(startColIndex + colIndex);
                        $cell.find('input').val(col.trim() || '');
                    });
                }
            });
        });
    });
</script>
{% endblock %}

{% block css %}
<style>
      
    #id_project, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}