{% extends 'layout.html' %}


{% block content %}
<div style="margin-bottom: 100px;">
    <h3>Mechanical Properties of Resin List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can read the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-filter">Read Resin List</a> button to jump to Read Resin List.<br>
            Click the <a id="help-btn-filter">Read Thermophysical Toughness Properties of Resin List</a> button to jump to Read Thermophysical Toughness Properties of Resin List.<br>
            <!-- Click the Download PDF button to download the displayed data(after filtering) as a pdf document.<br> -->
        </div>
    </details>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <!-- <a id="download" href="{% url 'download_projects_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a> -->
        <a class="btn btn-success" href="/resin/valid/" id="btnmore">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Resin List
        </a>
        <a class="btn btn-success" href="/resin/valid-thermophysical-toughness-properties/" id="btnmore">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Thermophysical Toughness Properties of Resin List
        </a>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <!--  -->
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Manufacturer</th>
                <th colspan="3">Resin system</th>
                
                <th rowspan="2">Flexural strength (MPa)</th>
                <th rowspan="2">Flexural modulus (GPa)</th>
                <th rowspan="2">Modulus of elasticity (GPa) (tensile)</th>
                <th rowspan="2">Tensile strength (MPa)</th>
                <th rowspan="2">Elongation at break (%)</th>
                <th rowspan="2">Compression ult. strength (MPa)</th>
                <th rowspan="2">Compression modulus (GPa)</th>
                
                
            </tr>
            <tr>
                <th id="resinl">Resin</th>
                <th id="resinl">Hardener</th>
                <th id="resinl">Accelerator</th>
               
            </tr>
           
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
           
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.manufacturer|default_if_none:"" }}</td>
                <td>{{ row.resin|default_if_none:"" }}</td>
                <td>{{ row.hardener|default_if_none:"" }}</td>
                <td>{{ row.accelerator|default_if_none:"" }}</td>

                <td>{{ row.flexuralStrength|default_if_none:"" }}</td>
                <td>{{ row.flexuralmodulus|default_if_none:"" }}</td>
                <td>{{ row.modulusElasticity|default_if_none:"" }}</td>
                <td>{{ row.tensileStrength|default_if_none:"" }}</td>
                <td>{{ row.elongationBreak|default_if_none:"" }}</td>
                <td>{{ row.compressionUltStrength|default_if_none:"" }}</td>
                <td>{{ row.compressionModulus|default_if_none:"" }}</td>
                


            </tr>
            {% empty %}
            <tr>
                <td colspan="12" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

     

    </script>
{% endblock %}

{% block css %}
<style>
    
    input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #resinl {
        width: 250px;
    }
    #btnmore{
        position: relative;
        width: auto; 
        height: 40px;
        background-color: #49b7be; 
        color: white; 
        margin: 10px;
        left: 300px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
        font-size: large;
    }
    #btnmore:hover {
        background-color: #2b6c70;
    }
 
   
</style>
{% endblock %}