{% extends 'layout.html' %}


{% block content %}

    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/resin/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Resin
        </a>
    </div>
    
    <div>
    <h3>Resin List:</h3>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <!--  -->
            <tr>
                <th rowspan="2">Manufacturer</th>
                <th colspan="3">Resin system</th>
                <th colspan="3">Ratio(weight)</th>
                <th colspan="3">Ratio(volume)</th>
                <th rowspan="2">Pot life (Process T°;h)</th>
                <th rowspan="2">Process T (°C)</th>
                <th rowspan="2">Curing cycle</th>
                <th rowspan="2">Tg (°C)</th>
                <th rowspan="2">Price resin</th>
                <th rowspan="2">Price hardener</th>
                <th rowspan="2">Density (g/cm³)</th>
                <th rowspan="2">Flexural strength (MPa)</th>
                <th rowspan="2">Flexural modulus (GPa)</th>
                <th rowspan="2">Modulus of elasticity (GPa) (tensile)</th>
                <th rowspan="2">Tensile strength (MPa)</th>
                <th rowspan="2">Elongation at break (%)</th>
                <th rowspan="2">Compression ult. strength (MPa)</th>
                <th rowspan="2">Compression modulus (GPa)</th>
                <th rowspan="2">Thermal expansion coefficient (ppm/K)</th>
                <th rowspan="2">Charpy impact at RT (mJ/mm²)</th>
                <th rowspan="2">Fracture toughness K1C (Mpa.m1/2)</th>
                <th rowspan="2">Fracture energy G1C (J/m²)</th>
                <th rowspan="2">Total shrinkage at RT (Vol%)</th>
                <th rowspan="2">Hardness at RT</th>
                <th rowspan="2">Water absorption (7d at 23°C)</th>
                <th rowspan="2">Operations</th>
            </tr>
            <tr>
                <th>Resin</th>
                <th>Hardener</th>
                <th>Accelerator</th>
                <th>R</th>
                <th>H</th>
                <th>A</th>
                <th>R</th>
                <th>H</th>
                <th>A</th>
            </tr>
            <!-- 
            <th>Manufacturer</th>
            <th>Resin system - Resin</th>
            <th>Resin system - Hardener</th>
            <th>Resin system - Accelerator</th>
            <th>Ratio(weight) R</th>
            <th>Ratio(weight) H</th>
            <th>Ratio(weight) A</th>
            <th>Ratio(volume) R</th>
            <th>Ratio(volume) H</th>
            <th>Ratio(volume) A</th>
            <th>Pot life (Process T°;h)</th>
            <th>Process T (°C)</th>
            <th>Curing cycle</th>
            <th>Tg (°C)</th>
            <th>Price resin</th>
            <th>Price hardener</th>
            <th>Density (g/cm³)</th>
            <th>Flexural strength (MPa)</th>
            <th>Flexural modulus (GPa)</th>
            <th>Modulus of elasticity (GPa) (tensile)</th>
            <th>Tensile strength (MPa)</th>
            <th>Elongation at break (%)</th>
            <th>Compression ult. strength (MPa)</th>
            <th>Compression modulus (GPa)</th>
            <th>Thermal expansion coefficient (ppm/K)</th>
            <th>Charpy impact at RT (mJ/mm²)</th>
            <th>Fracture toughness K1C (Mpa.m1/2)</th>
            <th>Fracture energy G1C (J/m²)</th>
            <th>Total shrinkage at RT (Vol%)</th>
            <th>Hardness at RT</th>
            <th>Water absorption (7d at 23°C)</th>
            <th>Operations</th> -->
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            <tr>
                <!-- <td>{{ row.id }}</td> -->
                <td>{{ row.manufacturer }}</td>
                <td>{{ row.resin }}</td>
                <td>{{ row.hardener }}</td>
                <td>{{ row.accelerator }}</td>

                <td>{{ row.ratioWR }}</td>
                <td>{{ row.ratioWH }}</td>
                <td>{{ row.ratioWA }}</td>
                <td>{{ row.ratioVR }}</td>
                <td>{{ row.ratioVH }}</td>
                <td>{{ row.ratioVA }}</td>

                <td>{{ row.potLife }}</td>
                <td>{{ row.processT }}</td>
                <td>{{ row.curingCycle }}</td>
                <td>{{ row.tg }}</td>
                <td>{{ row.priceResin }}</td>
                <td>{{ row.priceHardener }}</td>
                <td>{{ row.densityR }}</td>
                <td>{{ row.flexuralStrength }}</td>
                <td>{{ row.flexuralmodulus }}</td>
                <td>{{ row.modulusElasticity }}</td>
                <td>{{ row.tensileStrength }}</td>
                <td>{{ row.elongationBreak }}</td>
                <td>{{ row.compressionUltStrength }}</td>
                <td>{{ row.compressionModulus }}</td>
                <td>{{ row.thermalExpansionCoefficient }}</td>
                <td>{{ row.charpyimpact }}</td>
                <td>{{ row.fractureToughness }}</td>
                <td>{{ row.fractureEnergy }}</td>
                <td>{{ row.totalShrinkage }}</td>
                <td>{{ row.hardness }}</td>
                <td>{{ row.waterAbsorption }}</td>


                <td>
                    <a class="btn btn-primary btn-xs" href="/resin/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <!-- <a class="btn btn-info btn-xs" href="/part/list/{{ row.id }}" style="width: 70px; text-align: center; margin-bottom: 5px;"> Details </a>
                    <br> -->
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /resin/delete/?aid=12
            $.ajax({
                url: "/resin/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
    </script>
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
  
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
 
   
</style>
{% endblock %}