{% extends 'layout.html' %}
{% block content %}
<div style="margin-bottom: 100px;">
    <h3>Thermophysical Toughness Properties of Resin List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can read the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-filter">Read Resin List</a> button to jump to Read Resin List.<br>
            Click the <a id="help-btn-filter">Read Mechanical Properties of Resin List</a> button to jump to Read Mechanical Properties of Resin List.<br>
            <!-- Click the Download PDF button to download the displayed data(after filtering) as a pdf document.<br> --><br>
            In order to avoid loading too much data when entering for the first time, relevant data will be loaded only after clicking <a id="help-btn-filter">Filter</a>. <br>
            If you want to load all the data in the database, click <a id="help-btn-filter">Filter</a> directly without entering or selecting any keywords in the filter.<br>
        </div>
    </details>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <!-- <a id="download" href="{% url 'download_projects_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a> -->
        <a class="btn btn-success" href="/resin/valid/" id="btnmore">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Resin List
        </a>
        <a class="btn btn-success" href="/resin/valid-mechanical-properties/" id="btnmore">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="pic"></span> Read Mechanical Properties of Resin List
        </a>
        
    </form>
    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
        <a id="loadingtext"> Loading </a>
    </div>
    <div id="tableContainer" >
        {% if resins %}
            <table class="table table-bordered" id="normalTable">
                <thead>
                    <tr>
                        <tr>
                            <th rowspan="2">ID</th>
                            <th rowspan="2">Manufacturer</th>
                            <th colspan="3">Resin system</th>
                            <th rowspan="2">Thermal expansion coefficient (ppm/K)</th>
                            <th rowspan="2">Charpy impact at RT (mJ/mm²)</th>
                            <th rowspan="2">Fracture toughness K1C (Mpa.m1/2)</th>
                            <th rowspan="2">Fracture energy G1C (J/m²)</th>
                            <th rowspan="2">Total shrinkage at RT (Vol%)</th>
                            <th rowspan="2">Hardness at RT</th>
                            <th rowspan="2">Water absorption (7d at 23°C)</th>
                        </tr>
                        <tr>
                            <th id="resinl">Resin</th>
                            <th id="resinl">Hardener</th>
                            <th id="resinl">Accelerator</th>
                        </tr>
                    </tr>
                </thead>
                <tbody>
                    {% for row in resins %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.manufacturer|default_if_none:"" }}</td>
                            <td>{{ row.resin|default_if_none:"" }}</td>
                            <td>{{ row.hardener|default_if_none:"" }}</td>
                            <td>{{ row.accelerator|default_if_none:"" }}</td>
                            <td>{{ row.thermalExpansionCoefficient|default_if_none:"" }}</td>
                            <td>{{ row.charpyimpact|default_if_none:"" }}</td>
                            <td>{{ row.fractureToughness|default_if_none:"" }}</td>
                            <td>{{ row.fractureEnergy|default_if_none:"" }}</td>
                            <td>{{ row.totalShrinkage|default_if_none:"" }}</td>
                            <td>{{ row.hardness|default_if_none:"" }}</td>
                            <td>{{ row.waterAbsorption|default_if_none:"" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="12" class="text-center" style="font-size: large;">{{ message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="text-center" id="NoMessage">{{ message }}</h3>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}

{% block css %}
<style>
    
    input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #resinl {
        width: 250px;
    }
    #btnmore{
        position: relative;
        width: auto; 
        height: 30px;
        background-color: #49b7be; 
        color: white; 
        margin: 10px;
        left: 100px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
        font-size: large;
    }
    #btnmore:hover {
        background-color: #2b6c70;
    }
   
</style>
{% endblock %}