{% extends 'layout.html' %}


{% block content %}

    
    
    <div  style="margin-bottom: 100px;">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/resin/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Resin
            </a>
        </div>
    <h3>Resin List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can check the value of each record. <br>
            Data with a yellow background color indicates that the data has been confirmed and can be read by other departments.<br>
            Click the <a id="help-btn-upload">New Fiber</a> button to jump to create a new Resin record.<br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-filter">Check Mechanical Properties of Resin List</a> button to jump to Check Mechanical Properties of Resin List.<br>
            Click the <a id="help-btn-filter">Check Thermophysical Toughness Properties of Resin List</a> button to jump to Check Thermophysical Toughness Properties of Resin List.<br>
            Click the <a id="help-btn-edit">Edit</a> button to modify the data of the corresponding row.<br>
            Click the <a id="help-btn-remove">Delete</a> button to delete the corresponding row.<br>
        </div>
    </details>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <a class="btn btn-success" href="/resin/list-mechanical-properties/" id="btnmore1">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Mechanical Properties of Resin List
        </a>

        <a class="btn btn-success" href="/resin/list-thermophysical-toughness-properties/" id="btnmore2">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Check Thermophysical Toughness Properties of Resin List
        </a>
        <a class="btn btn-success" href="/resin/modify-multiple/" id="btnmore3">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="pic"></span> Modify Resin List
        </a>
    </form>
    {% if resins %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <!--  -->
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Manufacturer</th>
                <th colspan="3">Resin system</th>
                <th colspan="3">Ratio(weight)</th>
                <th colspan="3">Ratio(volume)</th>
                <th rowspan="2">Pot life (Process T°;h)</th>
                <th rowspan="2">Process T (°C)</th>
                <th rowspan="2">Curing cycle</th>
                <th rowspan="2">Tg (°C)</th>
                <th rowspan="2">Price resin</th>
                <th rowspan="2">Price hardener</th>
                <th rowspan="2">Density (g/cm³)</th>
                
                <th rowspan="2">Operations</th>
                
            </tr>
            <tr>
                <th>Resin</th>
                <th>Hardener</th>
                <th>Accelerator</th>
                <th>R</th>
                <th>H</th>
                <th>A</th>
                <th>R</th>
                <th>H</th>
                <th>A</th>
            </tr>
           
        </tr>
        </thead>
        <tbody>
        {% for row in resins %}
            {% if row.valid %} 
            <tr style="background-color: #fff35281;">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ row.id }}</td>
                <td>{{ row.manufacturer|default_if_none:"" }}</td>
                <td>{{ row.resin|default_if_none:"" }}</td>
                <td>{{ row.hardener|default_if_none:"" }}</td>
                <td>{{ row.accelerator|default_if_none:"" }}</td>

                <td>{{ row.ratioWR|default_if_none:"" }}</td>
                <td>{{ row.ratioWH|default_if_none:"" }}</td>
                <td>{{ row.ratioWA|default_if_none:"" }}</td>
                <td>{{ row.ratioVR|default_if_none:"" }}</td>
                <td>{{ row.ratioVH|default_if_none:"" }}</td>
                <td>{{ row.ratioVA|default_if_none:"" }}</td>

                <td>{{ row.potLife|default_if_none:"" }}</td>
                <td>{{ row.processT|default_if_none:"" }}</td>
                <td>{{ row.curingCycle|default_if_none:"" }}</td>
                <td>{{ row.tg|default_if_none:"" }}</td>
                <td>{{ row.priceResin|default_if_none:"" }}</td>
                <td>{{ row.priceHardener|default_if_none:"" }}</td>
                <td>{{ row.densityR|default_if_none:"" }}</td>
                


                <td>
                    <a class="btn btn-primary btn-xs" href="/resin/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <!-- <a class="btn btn-info btn-xs" href="/part/list/{{ row.id }}" style="width: 70px; text-align: center; margin-bottom: 5px;"> Details </a>
                    <br> -->
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            
            {% empty %}
            <tr>
                <td colspan="19" class="text-center" style="font-size: large;">{{ message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3 class="text-center">{{ message }}</h3>
    {% endif %}
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /resin/delete/?aid=12
            $.ajax({
                url: "/resin/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
    </script>
{% endblock %}

{% block css %}
<style>
     
    input[type="text"] , #id_valid{
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #btnmore1 {
        width: 400px; 
        height: 30px;
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        font-size: 15px;
        font-weight:800;
        margin-top: -3px;
        margin-left: 20px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #btnmore2 {
        width: 500px; 
        height: 30px;
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        font-size: 15px;
        font-weight:800;
        margin-top: -3px;
        margin-left: 20px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #btnmore3 {
        width: 300px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        cursor: pointer; 
        height: 30px;
        position: absolute;
        right: 2%;
        margin-top: 8px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
        font-size: large;
    }
    #btnmore1:hover, #btnmore2:hover, #btnmore3:hover {
        background-color: #378488;
    }
   
</style>
{% endblock %}