{% extends 'layout.html' %}
{% block content %}
<div style="margin-bottom: 100px;">
    <h3>Project List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can read the value of each record. <br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-download">Download PDF</a> button to download the displayed data(after filtering) as a pdf document.<br><br>
            In order to avoid loading too much data when entering for the first time, relevant data will be loaded only after clicking <a id="help-btn-filter">Filter</a>. <br>
            If you want to load all the data in the database, click <a id="help-btn-filter">Filter</a> directly without entering or selecting any keywords in the filter.<br>
        </div>
    </details>
   
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
        <a id="download" href="{% url 'download_projects_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a>
    </form>
    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
        <a id="loadingtext"> Loading </a>
    </div>
    <div id="tableContainer" >
        {% if projects %}
        <table class="table table-bordered" id="normalTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>Program</th>
                    <th>Equipment</th>
                    <th>Customer</th>
                    <th>Project No.</th>
                    <!-- <th>Number Of Parts</th> -->
                    <th>Relative Design</th>
                    <th>Structure Drawing Nb</th>
                    <th>Document No.</th>
                    <th>Revision</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
            {% for row in projects %}
            
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.projectName }}</td>
                    <td>{{ row.program|default_if_none:""  }}</td>
                    <td>{{ row.equipment|default_if_none:"" }}</td>
                    <td>{{ row.customer|default_if_none:"" }}</td>
                    <td>{{ row.projectNo|default_if_none:"" }}</td>
                    <!-- <td>{{ row.partsNumber }}</td> -->
                    <td>{{ row.relativeDesign|default_if_none:"" }}</td>
                    <td>{{ row.structureDrawingNb|default_if_none:"" }}</td>
                    <td>{{ row.documentNb|default_if_none:"" }}</td>
                    <td>{{ row.revision|default_if_none:"" }}</td>
                    <td>{{ row.lastUpdate|default_if_none:""|date:"m/d/Y" }}</td>
                
                </tr>
        
                {% empty %}
                <tr>
                    <td colspan="11" class="text-center" style="font-size: large;">{{ message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3 class="text-center" id="NoMessage">{{ message }}</h3>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    document.getElementById("filterForm").addEventListener("submit", function() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("NoMessage").style.display = "none";
        document.getElementById('normalTable').style.display = 'none';
    });


    document.getElementById("resetButton").addEventListener("click", function() {
        window.location.href = window.location.pathname;
    });
</script>
{% endblock %}

{% block css %}

<style>
    #id_project, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}