{% extends 'layout.html' %}
{% block content %}
<div  style="margin-bottom: 100px;">
    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/project/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New project
        </a>
    </div>
    <h3>Project List:</h3>
    <details>
        <summary>
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
          </span>
        </summary>        
        <div id="help-content">
            Here, we can check the value of each record. <br>
            Data with a blue background color indicates that the data has been confirmed and can be read by other departments.<br>
            Click the <a id="help-btn-upload">New Project</a> button to jump to create a new Project record.<br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-edit">Edit</a> button to modify the data of the corresponding row.<br>
            Click the <a id="help-btn-remove">Delete</a> button to delete the corresponding row.<br><br>
            In order to avoid loading too much data when entering for the first time, relevant data will be loaded only after clicking <a id="help-btn-filter">Filter</a>. <br>
            If you want to load all the data in the database, click <a id="help-btn-filter">Filter</a> directly without entering or selecting any keywords in the filter.<br>
        </div>
    </details>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>
    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
        <a id="loadingtext"> Loading </a>
    </div>
    {% if projects %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Program</th>
            <th>Equipment</th>
            <th>Customer</th>
            <th>Project No.</th>
            <!-- <th>Number Of Parts</th> -->
            <th>Relative Design</th>
            <th>Structure Drawing Nb</th>
            <th>Document No.</th>
            <th>Revision</th>
            <th>Last Update</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for row in projects %}
            {% if row.valid %} 
            <tr style="background-color: #67fafa70;">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ row.id }}</td>
                <td>{{ row.projectName }}</td>
                <td>{{ row.program|default_if_none:""  }}</td>
                <td>{{ row.equipment|default_if_none:"" }}</td>
                <td>{{ row.customer|default_if_none:"" }}</td>
                <td>{{ row.projectNo|default_if_none:"" }}</td>
                <!-- <td>{{ row.partsNumber }}</td> -->
                <td>{{ row.relativeDesign|default_if_none:"" }}</td>
                <td>{{ row.structureDrawingNb|default_if_none:"" }}</td>
                <td>{{ row.documentNb|default_if_none:"" }}</td>
                <td>{{ row.revision|default_if_none:"" }}</td>
                <td>{{ row.lastUpdate|default_if_none:""|date:"m/d/Y" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/project/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <!-- <a class="btn btn-info btn-xs" href="/part/list/{{ row.id }}" style="width: 70px; text-align: center; margin-bottom: 5px;"> Details </a>
                    <br> -->
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="12" class="text-center" style="font-size: large;">{{ message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3 class="text-center" id="NoMessage">{{ message }}</h3>
    {% endif %}
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close"></button>
            <h4>Are you sure you want to delete it?</h4>
            <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
            <p>
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
            </p>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script>
        
    // ID currently to be deleted
    DELETE_ID = 0;
    function deleteAction(id) {
        DELETE_ID = id;
        $('#myModal').modal('show');
    }

    function confirmDelete() {
        // Send request to backend DELETE_ID -> Delete
        // Page refresh
        // /project/delete/?aid=12
        $.ajax({
            url: "/project/delete/",
            type: "GET",
            data: {
                aid: DELETE_ID
            },
            dataType: "JSON",
            success: function (res) {
                // {status: true} -> obj
                if (res.status) {
                    // Deletion successful, refresh the page
                    location.reload()
                } else {
                    alert(res.error);
                }
            }
        })
    }

    function cancelDelete() {
        DELETE_ID = 0;
        $('#myModal').modal('hide');
    }
</script>
{% endblock %}

{% block css %}
<style>
      
    input[type="text"], #id_valid {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
 
   
</style>
{% endblock %}