{% extends 'layout.html' %}


{% block content %}

    
    
    <div>
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/project/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New project
            </a>
        </div>
    <h3>Project List:</h3>
    <form method="get" id="filterForm" class="from_f">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <!-- <th>Project ID</th> -->
            <th>Project Name</th>
            <th>Equipment</th>
            <th>Customer</th>
            <th>Project No.</th>
            <th>Number Of Parts</th>
            <th>Relative Design</th>
            <th>Structure Drawing Nb</th>
            <th>Document No.</th>
            <th>Revision</th>
            <th>Last Updata</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            {% if row.valid %} 
            <tr style="background-color: #67fafa70;">
                <td>{{ row.projectName }}</td>
                <td>{{ row.equipment|default_if_none:"" }}</td>
                <td>{{ row.customer|default_if_none:"" }}</td>
                <td>{{ row.projectNo|default_if_none:"" }}</td>
                <td>{{ row.partsNumber }}</td>
                <td>{{ row.relativeDesign|default_if_none:"" }}</td>
                <td>{{ row.structureDrawingNb|default_if_none:"" }}</td>
                <td>{{ row.documentNb|default_if_none:"" }}</td>
                <td>{{ row.revision|default_if_none:"" }}</td>
                <td>{{ row.lastUpdate|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/project/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <!-- <a class="btn btn-info btn-xs" href="/part/list/{{ row.id }}" style="width: 70px; text-align: center; margin-bottom: 5px;"> Details </a>
                    <br> -->
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ row.projectName }}</td>
                <td>{{ row.equipment|default_if_none:"" }}</td>
                <td>{{ row.customer|default_if_none:"" }}</td>
                <td>{{ row.projectNo|default_if_none:"" }}</td>
                <td>{{ row.partsNumber }}</td>
                <td>{{ row.relativeDesign|default_if_none:"" }}</td>
                <td>{{ row.structureDrawingNb|default_if_none:"" }}</td>
                <td>{{ row.documentNb|default_if_none:"" }}</td>
                <td>{{ row.revision|default_if_none:"" }}</td>
                <td>{{ row.lastUpdate|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/project/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <!-- <a class="btn btn-info btn-xs" href="/part/list/{{ row.id }}" style="width: 70px; text-align: center; margin-bottom: 5px;"> Details </a>
                    <br> -->
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% endif %}
           
        {% endfor %}
        </tbody>
    </table></div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /project/delete/?aid=12
            $.ajax({
                url: "/project/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
    </script>
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
  
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
 
   
</style>
{% endblock %}