{% extends 'layout.html' %}


{% block content %}
<div class="panel panel-default"  style="margin-bottom: 100px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Edit Project Information
        <details>
            <summary>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
                Help
              </span>
            </summary>        
            <div id="help-content">
                Here, we can enter the value of each attribute manually, by batch copying and pasting or by uploading a Excel. <br>
                Click the <a id="help-btn-file">Choose File</a> button to upload a Excel.<br>
                Click the <a id="help-btn-upload">Upload</a> button to read the data from the Excel.<br>
                Click the <a id="help-btn-save">Save</a> button to save the data to the database.<br>
            </div>
        </details>
    </div>
    <div class="panel-body">
        <form id="upload-form" method="post" enctype="multipart/form-data" class="form-horizontal"  novalidate>
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="form-group" style="margin-bottom: 25px;">
                    <label for="file"  class="col-sm-2 control-label">Upload Excel File</label>
                    <div class="col-sm-10">
                        <div class="file-upload-container">
                            <input type="file" id="file" name="file" class="form-control">
                            <span style="color: red;position: absolute;">{{ file.errors.0 }}</span>
                            <button type="submit" id="uploadbtn" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </form>
    </div>
    <div class="panel-body">
        <form id="project-form" method="post"  class="form-horizontal" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="col-xs-12">
                    <div class="form-group" style="margin-bottom: 25px;">
                        <label class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-10" style="position: relative">
                            {{ field }}
                            <br>
                            <span style="color: red;position: absolute;">{{ field.errors.0 }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-sm-offset-6 col-sm-10">
                            <button type="submit" class="btn btn-primary" style="width: 200px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#upload-form').on('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "{% url 'upload_file_project' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }
                    $('#id_projectName').val(data.projectName);
                    $('#id_program').val(data.program);
                    $('#id_equipment').val(data.equipment);
                    $('#id_customer').val(data.customer);
                    $('#id_projectNo').val(data.projectNo);
                    $('#id_relativeDesign').val(data.relativeDesign);
                    $('#id_structureDrawingNb').val(data.structureDrawingNb);
                    $('#id_documentNb').val(data.documentNb);
                    $('#id_revision').val(data.revision);
                    $('#id_lastUpdate').val(data.lastUpdate);
                },
                error: function(data) {
                    alert("Please upload a correct file.");
                }
            });
        });
    });
</script>
{% endblock %}

{% block css %}
<style>
     
    input[type="text"], input[type="number"], #id_valid {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    #uploadbtn {
        width: 100px;
        height: 33px;
        font-size: 18px; 
        border: none;
        outline: none; 
        background-color: #4CAF50; 
        color: white;
        cursor: pointer;
        border-radius: 4px; 
    }
    #uploadbtn:hover {
        background-color: #2f7a30; 
    }
    .file-upload-container {
        display: flex;
        align-items: center;
    }
    .file-upload-container input[type="file"] {
        margin-right: 10px;  
    }
    .file-upload-container button {
        white-space: nowrap;
    }
   
</style>
{% endblock %}