{% extends 'layout.html' %}


{% block content %}

    
    <div  style="margin-bottom: 100px;">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/part/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New part
            </a>
        </div>
        <h3>Part List:</h3>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
            
        </form>
        <!-- <table id="transposedTable"></table> -->
    <table class="table table-bordered" id="normalTable" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Part Name</th>
            <th>Default Interface Height [mm]</th>
            <th>Default Interface Int Diam [mm]</th>
            <th>Default Link (Element) Type</th>
            <th>Default Link Defined by</th>
            <th>Number of Links</th>
            <th>Number of Bushings</th>
            <th>Total Mass of Links [g]</th>
            <th>Total Mass of Accumulation [g]</th>
            <th>Total Mass of Winding [g]</th>
            <th>Total Mass of Bushing [g]</th>
            <th>Additional Masses [g]</th>
            <th>Total Mass of Structure [g]</th>
            <th>Total Fiber Length [m]</th>
            <th>Total Fiber Mass [kg]</th>
            <th>Total Resin Mass [g]</th>
            <th>Project Image</th>
            <!-- <th>.gh</th>
            <th>.mod</th>
            <th>.csv</th>
            <th>.rs</th>
            <th>.log</th>
            <th>.mp4</th>
            <th>.jpg</th> -->
            <th>Operations</th>


        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            {% if row.valid %} 
            <tr style="background-color: #67fafa70;">
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.partName }}</td>
                <td>{{ row.defaultInterfaceHeight|default_if_none:"" }}</td>
                <td>{{ row.defaultInterfaceIntDiam|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkType|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkDefined|default_if_none:"" }}</td>
                <td>{{ row.numberLink|default_if_none:"" }}</td>
                <td>{{ row.numberBushing|default_if_none:"" }}</td>
                <td>{{ row.totalMassLink|default_if_none:"" }}</td>
                <td>{{ row.totalMassAccumulation|default_if_none:"" }}</td>
                <td>{{ row.totalMassWinding|default_if_none:"" }}</td>
                <td>{{ row.totalMassBushing|default_if_none:"" }}</td>
                <td>{{ row.additionalMass|default_if_none:"" }}</td>
                <td>{{ row.totalMassStructure|default_if_none:"" }}</td>
                <td>{{ row.totalFiberLength|default_if_none:"" }}</td>
                <td>{{ row.totalFiberMass|default_if_none:"" }}</td>
                <td>{{ row.totalResinMass|default_if_none:"" }}</td>
                <td>{% if row.projectImage.url %}
                    <img src="{{ row.projectImage.url }}" alt="Project Image" class="thumbnail" onclick="showModal('{{ row.projectImage.url }}')">
                {% else %}
                    No image
                {% endif %}</td>
                <!-- <td>{{ row.projectImage|default_if_none:"" }}</td> -->
                <!-- <td>{{ row.part_gh|default_if_none:"" }}</td>
                <td>{{ row.part_mod|default_if_none:"" }}</td>
                <td>{{ row.part_csv|default_if_none:"" }}</td>
                <td>{{ row.part_rs|default_if_none:"" }}</td>
                <td>{{ row.part_log|default_if_none:"" }}</td>
                <td>{{ row.part_mp4|default_if_none:"" }}</td>
                <td>{{ row.part_jpg|default_if_none:"" }}</td> -->
                <td>
                    <a class="btn btn-primary btn-xs" href="/part/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.partName }}</td>
                <td>{{ row.defaultInterfaceHeight|default_if_none:"" }}</td>
                <td>{{ row.defaultInterfaceIntDiam|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkType|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkDefined|default_if_none:"" }}</td>
                <td>{{ row.numberLink|default_if_none:"" }}</td>
                <td>{{ row.numberBushing|default_if_none:"" }}</td>
                <td>{{ row.totalMassLink|default_if_none:"" }}</td>
                <td>{{ row.totalMassAccumulation|default_if_none:"" }}</td>
                <td>{{ row.totalMassWinding|default_if_none:"" }}</td>
                <td>{{ row.totalMassBushing|default_if_none:"" }}</td>
                <td>{{ row.additionalMass|default_if_none:"" }}</td>
                <td>{{ row.totalMassStructure|default_if_none:"" }}</td>
                <td>{{ row.totalFiberLength|default_if_none:"" }}</td>
                <td>{{ row.totalFiberMass|default_if_none:"" }}</td>
                <td>{{ row.totalResinMass|default_if_none:"" }}</td>
                <td>{% if row.projectImage %}
                    <!-- <img src="{{ row.projectImage.url }}" alt="Project Image" style="width: 100px;"> -->
                    <img src="{{ row.projectImage.url }}" alt="Project Image" class="thumbnail" onclick="showModal('{{ row.projectImage.url }}')">
                {% else %}
                    No image
                {% endif %}</td>
                <!-- <td>{{ row.projectImage|default_if_none:"" }}</td> -->
                <!-- <td>{{ row.part_gh|default_if_none:"" }}</td>
                <td>{{ row.part_mod|default_if_none:"" }}</td>
                <td>{{ row.part_csv|default_if_none:"" }}</td>
                <td>{{ row.part_rs|default_if_none:"" }}</td>
                <td>{{ row.part_log|default_if_none:"" }}</td>
                <td>{{ row.part_mp4|default_if_none:"" }}</td>
                <td>{{ row.part_jpg|default_if_none:"" }}</td> -->
                <td>
                    <a class="btn btn-primary btn-xs" href="/part/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="20" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>

    <div id="myModalImage" class="modalIamge">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

{% endblock %}

{% block js %}
    <script>
       

        $('#resetButton').click(function() {
        window.location.href = window.location.pathname;  
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /part/delete/?aid=12
            $.ajax({
                url: "/part/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }

        // $(function() {
        //     $("#id_project").autocomplete({
        //         source: "/part/list/",   
        //         minLength: 2,  
        //         select: function(event, ui) {
        //             $('#id_project').val(ui.item.value);   
        //         }
        //     });
        // });
        function showModal(src) {
            var modal = document.getElementById("myModalImage");
            var modalImg = document.getElementById("modalImage");
            modal.style.display = "block";
            modalImg.src = src;
        }

        function closeModal() {
            var modal = document.getElementById("myModalImage");
            modal.style.display = "none";
        }
    </script>
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #id_project, input[type="text"], #id_valid {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    

    .thumbnail {
            width: 100px;
            height: auto;
            cursor: pointer;
        }
        .modalIamge {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 60px;
            left: 25%;
            top: 20%;
            width: 50%;
            height: 60%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.274);
        }
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-height: 700px;
        }
        .modal-content, .thumbnail {
            animation-name: zoom;
            animation-duration: 0.3s;
        }
        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #000000;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        .close:hover,
        .close:focus {
            color: #ff0000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
{% endblock %}