{% extends 'layout.html' %}


{% block content %}

    
    <div  style="margin-bottom: 100px;">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/part/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New part
            </a>
        </div>
        <h3>Part List:</h3>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
        </form>
        <!-- <table id="transposedTable"></table> -->
    <table class="table table-bordered" id="normalTable" >
        <thead>
        <tr>
            <!-- <th>Part ID</th> -->
            <th>Project Name</th>
            <th>Part Name</th>
            <th>Default Interface Height [mm]</th>
            <th>Default Interface Int Diam [mm]</th>
            <th>Default Link (Element) Type</th>
            <th>Default Link Defined by</th>
            <th>Number of Links</th>
            <th>Number of Bushings</th>
            <th>Total Mass of Links [g]</th>
            <th>Total Mass of Accumulation [g]</th>
            <th>Total Mass of Winding [g]</th>
            <th>Total Mass of Bushing [g]</th>
            <th>Additional Masses [g]</th>
            <th>Total Mass of Structure [g]</th>
            <th>Total Fiber Length [m]</th>
            <th>Total Fiber Mass [kg]</th>
            <th>Total Resin Mass [g]</th>
            <th>Project Image</th>
            <th>.gh</th>
            <th>.mod</th>
            <th>.csv</th>
            <th>.rs</th>
            <th>.log</th>
            <th>.mp4</th>
            <th>.jpg</th>
            <th>Operations</th>


        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            {% if row.valid %} 
            <tr style="background-color: #67fafa70;">
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.partName }}</td>
                <td>{{ row.defaultInterfaceHeight|default_if_none:"" }}</td>
                <td>{{ row.defaultInterfaceIntDiam|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkType|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkDefined|default_if_none:"" }}</td>
                <td>{{ row.numberLink|default_if_none:"" }}</td>
                <td>{{ row.numberBushing|default_if_none:"" }}</td>
                <td>{{ row.totalMassLink|default_if_none:"" }}</td>
                <td>{{ row.totalMassAccumulation|default_if_none:"" }}</td>
                <td>{{ row.totalMassWinding|default_if_none:"" }}</td>
                <td>{{ row.totalMassBushing|default_if_none:"" }}</td>
                <td>{{ row.additionalMass|default_if_none:"" }}</td>
                <td>{{ row.totalMassStructure|default_if_none:"" }}</td>
                <td>{{ row.totalFiberLength|default_if_none:"" }}</td>
                <td>{{ row.totalFiberMass|default_if_none:"" }}</td>
                <td>{{ row.totalResinMass|default_if_none:"" }}</td>
                <td><img src="{{ row.projectImage.url }}" alt="Project Image"></td>
                <!-- <td>{{ row.projectImage|default_if_none:"" }}</td> -->
                <td>{{ row.part_gh|default_if_none:"" }}</td>
                <td>{{ row.part_mod|default_if_none:"" }}</td>
                <td>{{ row.part_csv|default_if_none:"" }}</td>
                <td>{{ row.part_rs|default_if_none:"" }}</td>
                <td>{{ row.part_log|default_if_none:"" }}</td>
                <td>{{ row.part_mp4|default_if_none:"" }}</td>
                <td>{{ row.part_jpg|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/part/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.partName }}</td>
                <td>{{ row.defaultInterfaceHeight|default_if_none:"" }}</td>
                <td>{{ row.defaultInterfaceIntDiam|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkType|default_if_none:"" }}</td>
                <td>{{ row.defaultLinkDefined|default_if_none:"" }}</td>
                <td>{{ row.numberLink|default_if_none:"" }}</td>
                <td>{{ row.numberBushing|default_if_none:"" }}</td>
                <td>{{ row.totalMassLink|default_if_none:"" }}</td>
                <td>{{ row.totalMassAccumulation|default_if_none:"" }}</td>
                <td>{{ row.totalMassWinding|default_if_none:"" }}</td>
                <td>{{ row.totalMassBushing|default_if_none:"" }}</td>
                <td>{{ row.additionalMass|default_if_none:"" }}</td>
                <td>{{ row.totalMassStructure|default_if_none:"" }}</td>
                <td>{{ row.totalFiberLength|default_if_none:"" }}</td>
                <td>{{ row.totalFiberMass|default_if_none:"" }}</td>
                <td>{{ row.totalResinMass|default_if_none:"" }}</td>
                <!-- <td><img src="{{ project.projectImage.url }}" alt="Project Image"></td> -->
                <td>{{ row.projectImage|default_if_none:"" }}</td>
                <td>{{ row.part_gh|default_if_none:"" }}</td>
                <td>{{ row.part_mod|default_if_none:"" }}</td>
                <td>{{ row.part_csv|default_if_none:"" }}</td>
                <td>{{ row.part_rs|default_if_none:"" }}</td>
                <td>{{ row.part_log|default_if_none:"" }}</td>
                <td>{{ row.part_mp4|default_if_none:"" }}</td>
                <td>{{ row.part_jpg|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/part/edit/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    <br>
                    <input type="button" value="Delete" class="btn btn-danger btn-xs" style="width: 70px; text-align: center;"
                           onclick="deleteAction({{ row.id }});"/>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table></div>
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">


            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close"></button>
                <h4>Are you sure you want to delete it?</h4>
                <p style="margin: 20px 0;">After deletion, all related data associated with it will be deleted. Are you sure you want to continue?</p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-default" onclick="cancelDelete()">Cancel</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
       
        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

        // ID currently to be deleted
        DELETE_ID = 0;
        function deleteAction(id) {
            DELETE_ID = id;
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            // Send request to backend DELETE_ID -> Delete
            // Page refresh
            // /part/delete/?aid=12
            $.ajax({
                url: "/part/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    // {status: true} -> obj
                    if (res.status) {
                        // Deletion successful, refresh the page
                        location.reload()
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function cancelDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }

        // $(function() {
        //     $("#id_project").autocomplete({
        //         source: "/part/list/",   
        //         minLength: 2,   
        //         select: function(event, ui) {
        //             $('#id_project').val(ui.item.value);   
        //         }
        //     });
        // });
    </script>
{% endblock %}

{% block css %}
<style>
    
    #id_project, input[type="text"], #id_valid {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}