{% extends 'layout.html' %}


{% block content %}
<div style="margin-bottom: 100px;">
        
    <h3>Part List:</h3>
    <details>
        <summary>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="help-title">
            Help
            </span>
        </summary>        
        <div id="help-content">
            Here, we can check the value of each record. <br>
            Data with a green background color indicates that the data has been confirmed and can be read by other departments.<br>
            We can use <a id="help-btn-filter">Filter</a> to select some specific records.<br>
            Click the <a id="help-btn-filter">Reset</a> button to reset the filter to the original state.<br>
            Click the <a id="help-btn-edit">Edit</a> button to modify the data of the corresponding row.<br><br>
            In order to avoid loading too much data when entering for the first time, relevant data will be loaded only after clicking <a id="help-btn-filter">Filter</a>. <br>
            If you want to load all the data in the database, click <a id="help-btn-filter">Filter</a> directly without entering or selecting any keywords in the filter.<br>
        </div>
    </details>
    <form method="get" id="filterForm">
        {{ filter.form.as_p }}
        <button type="submit" id="btnf1" name="filter">Filter</button>
        <button type="reset" id="resetButton" class="btnf2">Reset</button>
    </form>
    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
        <a id="loadingtext"> Loading </a>
    </div>
    <div id="tableContainer" >
        {% if parts %}
            <table class="table table-bordered" id="normalTable" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th style="width:400px;">Part Name</th>
                    <th>.gh</th>
                    <th>.mod</th>
                    <th>.csv</th>
                    <th>.rs</th>
                    <th>.log</th>
                    <th>.mp4</th>
                    <th>.jpg</th>
                    <th style="width:100px;">Operations</th>
                </tr>
                </thead>
                <tbody>
                {% for row in parts %}
                    {% if row.valid %} 
                        <tr style="background-color: #67fa6770;">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td>{{ row.id }}</td>
                            <td>{{ row.partName }}</td>
                            <td>{{ row.part_gh|default_if_none:"" }}</td>
                            <td>{{ row.part_mod|default_if_none:"" }}</td>
                            <td>{{ row.part_csv|default_if_none:"" }}</td>
                            <td>{{ row.part_rs|default_if_none:"" }}</td>
                            <td>{{ row.part_log|default_if_none:"" }}</td>
                            <td>{{ row.part_mp4|default_if_none:"" }}</td>
                            <td>{{ row.part_jpg|default_if_none:"" }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/part/edit-doc/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                                
                            </td>
                        </tr>
                    
                    {% empty %}
                        <tr>
                            <td colspan="11" class="text-center" style="font-size: large;">{{ message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3 class="text-center" id="NoMessage">{{ message }}</h3>
        {% endif %}
    </div>
</div>
    
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}

{% block css %}
<style>
     
    #id_project,  #id_resin, #id_fiber,input[type="text"], #id_valid {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}