{% extends 'layout.html' %}


{% block content %}

    
    <div  style="margin-bottom: 100px;">
        
        <h3>Part List:</h3>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
        </form>
    <table class="table table-bordered" id="normalTable" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Part Name</th>
            
            <th>.gh</th>
            <th>.mod</th>
            <th>.csv</th>
            <th>.rs</th>
            <th>.log</th>
            <th>.mp4</th>
            <th>.jpg</th>
            <th>Operations</th>


        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
            {% if row.valid %} 
            <tr style="background-color: #67fa6770;">
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.partName }}</td>
                <td>{{ row.part_gh|default_if_none:"" }}</td>
                <td>{{ row.part_mod|default_if_none:"" }}</td>
                <td>{{ row.part_csv|default_if_none:"" }}</td>
                <td>{{ row.part_rs|default_if_none:"" }}</td>
                <td>{{ row.part_log|default_if_none:"" }}</td>
                <td>{{ row.part_mp4|default_if_none:"" }}</td>
                <td>{{ row.part_jpg|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/part/edit-doc/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.partName }}</td>
                <td>{{ row.part_gh|default_if_none:"" }}</td>
                <td>{{ row.part_mod|default_if_none:"" }}</td>
                <td>{{ row.part_csv|default_if_none:"" }}</td>
                <td>{{ row.part_rs|default_if_none:"" }}</td>
                <td>{{ row.part_log|default_if_none:"" }}</td>
                <td>{{ row.part_mp4|default_if_none:"" }}</td>
                <td>{{ row.part_jpg|default_if_none:"" }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/part/edit-doc/{{ row.id }}/" style="width: 70px; text-align: center; margin-bottom: 5px;"> Edit </a>
                    
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="11" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    
{% endblock %}

{% block js %}
    <script>
      

        $('#resetButton').click(function() {
        window.location.href = window.location.pathname; 
        });

    </script>
{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 100px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    #btnf1, .btnf2{
        width: 100px; 
        background-color: #49b7be; 
        color: white; 
        padding: 5px 10px; 
        margin: 8px;
        margin-right: 0px;
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
    }
    #id_project, input[type="text"], #id_valid {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}