{% extends 'layout.html' %}


{% block content %}

 
    <div  style="margin-bottom: 100px;">
        <h3>Link List:</h3>
        <form method="get" id="filterForm">
            {{ filter.form.as_p }}
            <button type="submit" id="btnf1">Filter</button>
            <button type="reset" id="resetButton" class="btnf2">Reset</button>
            <a id="download" href="{% url 'download_projects_pdf' %}?{{ request.GET.urlencode }}">Download PDF</a>
        </form>
        
    <table class="table table-bordered" id="normalTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Part Name</th>
            <th>Link Name</th>
            <th>Interface1</th>
            <th>Interface2</th>
            <th>Length [mm]</th>
            <th>Sequence</th>
            <!-- <th>Link Type</th> -->
            <th>Arm diam. [mm]</th>
            <th>Arm Sec. [mm²]</th>
            <th>Cycle #</th>
            
            <th>Fin. Arm Sec. [mm²]</th>
            <th>Fin. Arm diam. [mm]</th>
            <th>Fin. Arm radius [m]</th>
            <th>Mass [g]</th>
            <th>*Angle*</th>
            
        </tr>
        </thead>
        <tbody>
        {% for row in filter.qs %}
           
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.project.projectName }}</td>
                <td>{{ row.part.partName }}</td>
                <td>{{ row.linkName }}</td>
                <td>{{ row.interface1 }}</td>
                <td>{{ row.interface2 }}</td>
                <td>{{ row.length|default_if_none:"" }}</td>
                <td>{{ row.sequence|default_if_none:"" }}</td>
                <!-- <td>{{ row.linkType|default_if_none:"" }}</td> -->
                <td>{{ row.armDiam|default_if_none:"" }}</td>
                <td>{{ row.armSection|default_if_none:"" }}</td>
                <td>{{ row.cycle|default_if_none:"" }}</td>
                
                <td>{{ row.finArmSection|default_if_none:"" }}</td>
                <td>{{ row.finArmDiam|default_if_none:"" }}</td>
                <td>{{ row.finArmRadius|default_if_none:"" }}</td>
                <td>{{ row.mass|default_if_none:"" }}</td>
                <td>{{ row.angle|default_if_none:"" }}</td>
               
            </tr>
            {% empty %}
            <tr>
                <td colspan="16" class="text-center" style="font-size: large;">No data found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    

    
{% endblock %}

{% block js %}
        <script>
        

        $('#resetButton').click(function() {
        window.location.href = window.location.pathname;  
        });

     
      
    </script>
    
{% endblock %}

{% block css %}
<style>
   
    #id_project, #id_part, input[type="text"] {
        width: 100%; 
        padding: 8px; 
        margin: 0px 0; 
        display: inline-block;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
</style>
{% endblock %}